In [1]:
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup
import requests
import time, os

# from IPython.display import clear_output

import random
from fake_useragent import UserAgent

In [112]:
df_allcities = pd.read_csv('allcitiescsvcopy')
# df_allcities

In [113]:
# Need to do some filtering so that joining doesn't take too long...

df_reliable = df_allcities[df_allcities['No. Prices'] > 0]  # means 10+ price data points
df_reliable.shape

(1238, 20)

In [114]:
df_reliable.reset_index(inplace=True, drop=True)
df_reliable.head()

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,gas_liter,pubtrans_monthly,internet_monthly,TV_40in,cappuccino,mobile_wifi_128gb,COL (Family of 4),COL (Single of 1),No. Prices,No. Contributors
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,0.49,31.0,37.0,229.0,2.01,259.0,619.0,1438.0,206,13
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,1.60,NaN,10.0,387.0,1.30,NaN,628.0,1916.0,31,-5
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,1.75,15.0,15.0,383.0,1.61,652.0,910.0,2288.0,222,21
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,0.31,13.0,23.0,318.0,2.76,467.0,952.0,1966.0,304,18
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,0.23,15.0,25.0,348.0,1.70,363.0,708.0,1622.0,81,-5

### Get Human Development Index (HDI) by country
Source: [Wikipedia](https://en.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index)

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index'  # generate page version with USD
    
response = requests.get(url)                       
page = response.text
soup_wiki = BeautifulSoup(page, "lxml")
    
ripped = []

# start at the table
chunk = soup_wiki.find_all('tr')[2]        
country_raw = chunk.find('a')

for i in range(191):
    country = country_raw.text
    HDI = country_raw.findNext().text
    
    ripped.append((country, HDI))
    
    country_raw = country_raw.findNext('a')

    
del ripped[116]
del ripped[117]
    
ripped

[('Norway', '0.957'),
 ('Ireland', '0.955'),
 ('Switzerland', '0.955'),
 ('Hong Kong', '0.949'),
 ('Iceland', '0.949'),
 ('Germany', '0.947'),
 ('Sweden', '0.945'),
 ('Australia', '0.944'),
 ('Netherlands', '0.944'),
 ('Denmark', '0.940'),
 ('Finland', '0.938'),
 ('Singapore', '0.938'),
 ('United Kingdom', '0.932'),
 ('Belgium', '0.931'),
 ('New Zealand', '0.931'),
 ('Canada', '0.929'),
 ('United States', '0.926'),
 ('Austria', '0.922'),
 ('Israel', '0.919'),
 ('Japan', '0.919'),
 ('Liechtenstein', '0.919'),
 ('Slovenia', '0.917'),
 ('Luxembourg', '0.916'),
 ('South Korea', '0.916'),
 ('Spain', '0.904'),
 ('France', '0.901'),
 ('Czech Republic', '0.900'),
 ('Malta', '0.895'),
 ('Estonia', '0.892'),
 ('Italy', '0.892'),
 ('United Arab Emirates', '0.890'),
 ('Greece', '0.888'),
 ('Cyprus', '0.887'),
 ('Lithuania', '0.882'),
 ('Poland', '0.880'),
 ('Andorra', '0.868'),
 ('Latvia', '0.866'),
 ('Portugal', '0.864'),
 ('Slovakia', '0.860'),
 ('Hungary', '0.854'),
 ('Saudi Arabia', '0.854'),
 ('Bahrain', '0.852'),
 ('Chile', '0.851'),
 ('Croatia', '0.851'),
 ('Qatar', '0.848'),
 ('Argentina', '0.845'),
 ('Brunei', '0.838'),
 ('Montenegro', '0.829'),
 ('Romania', '0.828'),
 ('Palau', '0.826'),
 ('Kazakhstan', '0.825'),
 ('Russia', '0.824'),
 ('Belarus', '0.823'),
 ('Turkey', '0.820'),
 ('Uruguay', '0.817'),
 ('Bulgaria', '0.816'),
 ('Panama', '0.815'),
 ('Bahamas', '0.814'),
 ('Barbados', '0.814'),
 ('Oman', '0.813'),
 ('Georgia', '0.812'),
 ('Costa Rica', '0.810'),
 ('Malaysia', '0.810'),
 ('Kuwait', '0.806'),
 ('Serbia', '0.806'),
 ('Mauritius', '0.804'),
 ('Seychelles', '0.796'),
 ('Trinidad and Tobago', '0.796'),
 ('Albania', '0.795'),
 ('Cuba', '0.783'),
 ('Iran', '0.783'),
 ('Sri Lanka', '0.782'),
 ('Bosnia and Herzegovina', '0.780'),
 ('Grenada', '0.779'),
 ('Mexico', '0.779'),
 ('Saint Kitts and Nevis', '0.779'),
 ('Ukraine', '0.779'),
 ('Antigua and Barbuda', '0.778'),
 ('Peru', '0.777'),
 ('Thailand', '0.777'),
 ('Armenia', '0.776'),
 ('North Macedonia', '0.774'),
 ('Colombia', '0.767'),
 ('Brazil', '0.765'),
 ('China', '0.761'),
 ('Ecuador', '0.759'),
 ('Saint Lucia', '0.759'),
 ('Azerbaijan', '0.756'),
 ('Dominican Republic', '0.756'),
 ('Moldova', '0.750'),
 ('Algeria', '0.748'),
 ('Lebanon', '0.744'),
 ('Fiji', '0.743'),
 ('Dominica', '0.742'),
 ('Maldives', '0.740'),
 ('Tunisia', '0.740'),
 ('Saint Vincent and the Grenadines', '0.738'),
 ('Suriname', '0.738'),
 ('Mongolia', '0.737'),
 ('Botswana', '0.735'),
 ('Jamaica', '0.734'),
 ('Jordan', '0.729'),
 ('Paraguay', '0.728'),
 ('Tonga', '0.725'),
 ('Libya', '0.724'),
 ('Uzbekistan', '0.720'),
 ('Bolivia', '0.718'),
 ('Indonesia', '0.718'),
 ('Philippines', '0.718'),
 ('Belize', '0.716'),
 ('Samoa', '0.715'),
 ('Turkmenistan', '0.715'),
 ('Venezuela', '0.711'),
 ('South Africa', '0.709'),
 ('Palestine', '0.708'),
 ('Egypt', '0.707'),
 ('Marshall Islands', '0.704'),
 ('Vietnam', '0.704'),
 ('Gabon', '0.703'),
 ('Kyrgyzstan', '0.697'),
 ('Morocco', '0.686'),
 ('Guyana', '0.682'),
 ('Iraq', '0.674'),
 ('El Salvador', '0.673'),
 ('Tajikistan', '0.668'),
 ('Cape Verde', '0.665'),
 ('Guatemala', '0.663'),
 ('Nicaragua', '0.660'),
 ('Bhutan', '0.654'),
 ('Namibia', '0.646'),
 ('India', '0.645'),
 ('Honduras', '0.634'),
 ('Bangladesh', '0.632'),
 ('Kiribati', '0.630'),
 ('São Tomé and Príncipe', '0.625'),
 ('Micronesia', '0.620'),
 ('Laos', '0.613'),
 ('Eswatini', '0.611'),
 ('Ghana', '0.611'),
 ('Vanuatu', '0.609'),
 ('East Timor', '0.606'),
 ('Nepal', '0.602'),
 ('Kenya', '0.601'),
 ('Cambodia', '0.594'),
 ('Equatorial Guinea', '0.592'),
 ('Zambia', '0.584'),
 ('Myanmar', '0.583'),
 ('Angola', '0.581'),
 ('Republic of the Congo', '0.574'),
 ('Zimbabwe', '0.571'),
 ('Solomon Islands', '0.567'),
 ('Syria', '0.567'),
 ('Cameroon', '0.563'),
 ('Pakistan', '0.557'),
 ('Papua New Guinea', '0.555'),
 ('Comoros', '0.554'),
 ('Mauritania', '0.546'),
 ('Benin', '0.545'),
 ('Uganda', '0.544'),
 ('Rwanda', '0.543'),
 ('Nigeria', '0.539'),
 ('Ivory Coast', '0.538'),
 ('Tanzania', '0.529'),
 ('Madagascar', '0.528'),
 ('Lesotho', '0.527'),
 ('Djibouti', '0.524'),
 ('Togo', '0.515'),
 ('Senegal', '0.512'),
 ('Afghanistan', '0.511'),
 ('Haiti', '0.510'),
 ('Sudan', '0.510'),
 ('Gambia', '0.496'),
 ('Ethiopia', '0.485'),
 ('Malawi', '0.483'),
 ('Democratic Republic of the Congo', '0.480'),
 ('Guinea-Bissau', '0.480'),
 ('Liberia', '0.480'),
 ('Guinea', '0.477'),
 ('Yemen', '0.470'),
 ('Eritrea', '0.459'),
 ('Mozambique', '0.456'),
 ('Burkina Faso', '0.452'),
 ('Sierra Leone', '0.452'),
 ('Mali', '0.434'),
 ('Burundi', '0.433'),
 ('South Sudan', '0.433'),
 ('Chad', '0.398'),
 ('Central African Republic', '0.397'),
 ('Niger', '0.394')]

In [6]:
df = pd.DataFrame(ripped, columns = ['Country', 'HDI'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  189 non-null    object
 1   HDI      189 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

In [ ]:
# df.to_pickle('df_countryHDI')
# df.to_csv('df_countryHDI', index=False)

### Get GDP per capita (nominal/PPP) and regions by country

In [ ]:
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita'

response = requests.get(url1)                       
page = response.text
soup_wiki = BeautifulSoup(page, "lxml")
    
ripped1 = []

# start at the table
chunk = soup_wiki.find_all('tr')[3]        
country_raw = chunk.find('a')

for i in range(39):     # URLs in 39th entry - Taiwan - create error

    country = country_raw.text
    subregion = country_raw.findNext('td').text
    region = country_raw.findNext('td').findNext('td').text
    GDPpercap_nominal = country_raw.findNext('td').findNext('td').findNext('td').text

    ripped1.append((country[:-2], subregion, region, GDPpercap_nominal))
    
    country_raw = country_raw.findNext('a').findNext('a').findNext('a')

ripped2 = []

chunk2 = soup_wiki.find_all('tr')[42]        # Bahamas
country_raw = chunk2.find('a')

for i in range(174):

    country = country_raw.text
    subregion = country_raw.findNext('td').text
    region = country_raw.findNext('td').findNext('td').text
    GDPpercap_nominal = country_raw.findNext('td').findNext('td').findNext('td').text

    ripped2.append((country[:-2], subregion, region, GDPpercap_nominal))
    
    country_raw = country_raw.findNext('a').findNext('a').findNext('a')

ripped = ripped1 + ripped2
ripped

In [ ]:
df = pd.DataFrame(ripped, columns = ['Country', 'Subregion', 'Region', 'GDPpercap_nominal'])
df.info()

In [ ]:
df.to_pickle('df_countryGDP_nom')
df.to_csv('df_countryGDP_nom', index=False)
df.head(10)

In [ ]:
url2 = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita'

response = requests.get(url2)                       
page = response.text
soup_wiki = BeautifulSoup(page, "lxml")
    
ripped1 = []

# start at the table
chunk = soup_wiki.find_all('tr')[3]        
country_raw = chunk.find('a')

for i in range(39):     # URL in 39th entry - European Union - create error

    country = country_raw.text
    subregion = country_raw.findNext('td').text
    region = country_raw.findNext('td').findNext('td').text
    GDPpercap_PPP = country_raw.findNext('td').findNext('td').findNext('td').text

    ripped1.append((country[:-2], subregion, region, GDPpercap_PPP))
    
    country_raw = country_raw.findNext('a').findNext('a').findNext('a')

ripped2 = []

chunk2 = soup_wiki.find_all('tr')[43]        # South Korea
country_raw = chunk2.find('a')

for i in range(186):

    country = country_raw.text
    subregion = country_raw.findNext('td').text
    region = country_raw.findNext('td').findNext('td').text
    GDPpercap_PPP = country_raw.findNext('td').findNext('td').findNext('td').text

    ripped2.append((country[:-2], subregion, region, GDPpercap_PPP))
    
    country_raw = country_raw.findNext('a').findNext('a').findNext('a')

ripped = ripped1 + ripped2
ripped

In [ ]:
df = pd.DataFrame(ripped, columns = ['Country', 'Subregion', 'Region', 'GDPpercap_PPP'])
df.info()

In [ ]:
# df.to_pickle('df_countryGDP_PPP')
# df.to_csv('df_countryGDP_PPP', index=False)
df.head(10)

### Get city-level data
Source: [SimpleMaps.com](https://simplemaps.com/data/world-cities) (Basic dataset)

In [7]:
worldcities_raw = pd.read_csv('worldcities.csv')
worldcities_raw.head(10)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
5,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22120000.0,1156073548
6,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22046000.0,1076532519
7,Seoul,Seoul,37.5600,126.9900,"Korea, South",KR,KOR,Seoul,primary,21794000.0,1410836482
8,Mexico City,Mexico City,19.4333,-99.1333,Mexico,MX,MEX,Ciudad de México,primary,20996000.0,1484247881
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,20902000.0,1156237133

In [8]:
worldcities_reduced = worldcities_raw[['country', 'city', 'city_ascii', 'admin_name',
                                       'population', 'capital', 'lat', 'lng']]
worldcities_full = worldcities_reduced.sort_values(['country', 'city']).reset_index(drop=True)
worldcities_full.head(50)

,country,city,city_ascii,admin_name,population,capital,lat,lng
0,Afghanistan,Andkhōy,Andkhoy,Fāryāb,13137.0,minor,36.9500,65.1167
1,Afghanistan,Asadābād,Asadabad,Kunaṟ,48400.0,admin,34.8742,71.1528
2,Afghanistan,Aībak,Aibak,Samangān,4938.0,admin,36.2534,68.0394
3,Afghanistan,Baghlān,Baghlan,Baghlān,73031.0,minor,36.1328,68.7000
4,Afghanistan,Balkh,Balkh,Balkh,77000.0,minor,36.7581,66.8989
5,Afghanistan,Barakī Barak,Baraki Barak,Lōgar,22305.0,minor,33.9667,68.9667
6,Afghanistan,Buynī Qarah,Buyni Qarah,Balkh,5842.0,NaN,36.3172,66.8747
7,Afghanistan,Bāmyān,Bamyan,Bāmyān,61863.0,admin,34.8167,67.8167
8,Afghanistan,Bāzārak,Bazarak,Panjshir,NaN,admin,35.3129,69.5152
9,Afghanistan,Chārīkār,Charikar,Parwān,53676.0,admin,35.0183,69.1679
10,Afghanistan,Farāh,Farah,Farāh,73647.0,admin,32.3436,62.1194
11,Afghanistan,Fayrōz Kōh,Fayroz Koh,Ghōr,15000.0,admin,34.5225,65.2517
12,Afghanistan,Faīẕābād,Faizabad,Badakhshān,64704.0,admin,37.1298,70.5792
13,Afghanistan,Gardēz,Gardez,Paktiyā,70000.0,admin,33.5931,69.2297
14,Afghanistan,Ghaznī,Ghazni,Ghaznī,143379.0,admin,33.5492,68.4233
15,Afghanistan,Herāt,Herat,Herāt,436300.0,admin,34.3738,62.1792
16,Afghanistan,Jalālābād,Jalalabad,Nangarhār,205423.0,admin,34.4303,70.4528
17,Afghanistan,Kabul,Kabul,Kābul,3678034.0,primary,34.5328,69.1658
18,Afghanistan,Kandahār,Kandahar,Kandahār,491500.0,admin,31.6078,65.7053
19,Afghanistan,Karukh,Karukh,Herāt,17484.0,minor,34.4868,62.5918
20,Afghanistan,Khulm,Khulm,Balkh,28078.0,minor,36.6833,67.6833
21,Afghanistan,Khānābād,Khanabad,Kunduz,26803.0,minor,36.6831,69.1636
22,Afghanistan,Khōst,Khost,Khōst,160214.0,admin,33.3333,69.9167
23,Afghanistan,Kunduz,Kunduz,Kunduz,259809.0,admin,36.7280,68.8725
24,Afghanistan,Kōṯah-ye ‘As̲h̲rō,Kotah-ye `Ashro,Wardak,35008.0,NaN,34.4500,68.8000
25,Afghanistan,Lashkar Gāh,Lashkar Gah,Helmand,201546.0,admin,31.5938,64.3716
26,Afghanistan,Mazār-e Sharīf,Mazar-e Sharif,Balkh,427600.0,admin,36.7000,67.1167
27,Afghanistan,Maīdān Shahr,Maidan Shahr,Wardak,35008.0,admin,34.3972,68.8697
28,Afghanistan,Maīmanah,Maimanah,Fāryāb,199795.0,admin,35.9302,64.7701
29,Afghanistan,Maḩmūd-e Rāqī,Mahmud-e Raqi,Kāpīsā,7407.0,admin,35.0167,69.3333
30,Afghanistan,Mehtar Lām,Mehtar Lam,Laghmān,17345.0,admin,34.6500,70.1833
31,Afghanistan,Nīlī,Nili,Dāykundī,NaN,admin,33.7218,66.1302
32,Afghanistan,Pul-e Khumrī,Pul-e Khumri,Baghlān,113500.0,admin,35.9500,68.7000
33,Afghanistan,Pul-e ‘Alam,Pul-e `Alam,Lōgar,NaN,admin,33.9953,69.0227
34,Afghanistan,Pārūn,Parun,Nūristān,NaN,admin,35.4206,70.9226
35,Afghanistan,Qalāt,Qalat,Zābul,12191.0,admin,32.1061,66.9069
36,Afghanistan,Qal‘ah-ye Now,Qal`ah-ye Now,Bādghīs,5340.0,admin,34.9900,63.1200
37,Afghanistan,Qal‘ah-ye Zāl,Qal`ah-ye Zal,Kunduz,18000.0,NaN,37.0150,68.4672
38,Afghanistan,Sar-e Pul,Sar-e Pul,Sar-e Pul,51075.0,admin,36.2214,65.9278
39,Afghanistan,Sharan,Sharan,Paktīkā,NaN,admin,33.1757,68.7304
40,Afghanistan,Shibirghān,Shibirghan,Jowzjān,175599.0,admin,36.6650,65.7520
41,Afghanistan,Tarīn Kōṯ,Tarin Kot,Uruzgān,10000.0,admin,32.6333,65.8667
42,Afghanistan,Tāluqān,Taluqan,Takhār,77000.0,admin,36.7167,69.5167
43,Afghanistan,Zaranj,Zaranj,Nīmrōz,49851.0,admin,30.9600,61.8600
44,Afghanistan,Zarghūn Shahr,Zarghun Shahr,Paktīkā,13737.0,NaN,32.8500,68.4167
45,Albania,Bajram Curri,Bajram Curri,Kukës,5340.0,NaN,42.3582,20.0760
46,Albania,Ballsh,Ballsh,Fier,7657.0,NaN,40.5991,19.7359
47,Albania,Belsh,Belsh,Elbasan,8781.0,NaN,40.9833,19.8833
48,Albania,Berat,Berat,Berat,36496.0,admin,40.7049,19.9497
49,Albania,Bilisht,Bilisht,Korçë,7114.0,NaN,40.6275,20.9900

In [9]:
df_reliable.head()

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,gas_liter,pubtrans_monthly,internet_monthly,TV_40in,cappuccino,mobile_wifi_128gb,COL (Family of 4),COL (Single of 1),No. Prices,No. Contributors
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,0.49,31.0,37.0,229.0,2.01,259.0,619.0,1438.0,206,13
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,1.60,NaN,10.0,387.0,1.30,NaN,628.0,1916.0,31,-5
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,1.75,15.0,15.0,383.0,1.61,652.0,910.0,2288.0,222,21
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,0.31,13.0,23.0,318.0,2.76,467.0,952.0,1966.0,304,18
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,0.23,15.0,25.0,348.0,1.70,363.0,708.0,1622.0,81,-5

In [96]:
# Define useful functions

def append_info(info):
    
    population.append(info['population'][0])
    capital.append(info['capital'][0])
    admin_name.append(info['admin_name'][0])
    lat.append(info['lat'][0])
    lng.append(info['lng'][0])

In [97]:
def check_single_words(row):
    
    print(f"Country: {country}, City: {city}")
    
    for word in city_split:
        for cand in all_cities_in_country:
            cand_split = cand.split(' ')
            for word2 in cand_split:
                if word == word2:
                    print(f'City name: {city}, Candidate: {cand}\n')
    
    print('Copy matching city name from list above.')
    print('For full list, enter \'a\'. If absent, enter \'skip\'')
    x = str(input())
        
    if x == 'skip':                                        # quit 
        info = empty_row
        print(f'No city chosen; no city matching {city}\n')
    elif x == 'a':
        print(all_cities_in_country)
        print('Copy matching city name from list above.')
        print('If absent, enter \'skip\'')
        y = str(input())
            
        if y == 'skip':
            info = empty_row
            print(f'No city chosen; no city matching {city}\n')
        else:
            name = y
            info = fullset.loc[fullset['city'] == name].reset_index(drop=True)    
            print(f'Data for {name} selected for {city}\n')
            
    else:
        name = x
        info = fullset.loc[fullset['city'] == name].reset_index(drop=True)    
        print(f'Data for {name} selected for {city}\n')
    
    return info

In [98]:
def check_all_options(row):
    
    # Create shortlist of cities in same country with same first letter
    
    first_letter = city[0]
    same_fl_list = [city2 for city2 in all_cities_in_country if (city2[0] == first_letter)]
    n_options = len(same_fl_list)   
    
    print(f"Country: {country}, City: {city}")
    
    if len(same_fl_list) > 0:  # if empty, need to check whole list
        
        # Request user input
        
        print(same_fl_list)
        print('Copy matching city name from list above.')
        print('For full list, enter \'a\'. If absent, enter \'skip\'')
        x = str(input())
        
        if x == 'skip':                                        # quit 
            info = empty_row
            print(f'No city chosen; no city matching {city}\n')
        elif x == 'a':
            print(all_cities_in_country)
            print('Copy matching city name from list above.')
            print('If absent, enter \'skip\'')
            y = str(input())
            
            if y == 'skip':
                info = empty_row
                print(f'No city chosen; no city matching {city}\n')
            else:
                name = y
                info = fullset.loc[fullset['city'] == name].reset_index(drop=True)    
                print(f'Data for {name} selected for {city}\n')
            
        else:
            name = x
            info = fullset.loc[fullset['city'] == name].reset_index(drop=True)    
            print(f'Data for {name} selected for {city}\n')
        
    else:
        
        print(all_cities_in_country)
        print('Copy matching city name from list above.')
        print('If absent, enter \'skip\'')
        x = str(input())
        
        if x == 'skip':                                        # quit 
            info = empty_row
            print(f'No city chosen; no city matching {city}\n')
        else:
            name = x
            info = fullset.loc[fullset['city'] == name].reset_index(drop=True)    
            print(f'Data for {name} selected for {city}\n')
            
    return info

In [102]:
# Instantiate stuff

population = []
capital = []
admin_name = []
lat = []
lng = []

list_features = [population, capital, admin_name, lat, lng]
list_feature_names = ['population', 'capital', 'admin_name', 'lat', 'lng']

empty_row = pd.DataFrame(np.array([[np.nan, np.nan, np.nan, np.nan,
                                  np.nan, np.nan, np.nan, np.nan]]), columns = worldcities_full.columns)

empty_row

   country  city  city_ascii  admin_name  population  capital  lat  lng
0      NaN   NaN         NaN         NaN         NaN      NaN  NaN  NaN

In [103]:
len(population) #should be empty before running next cell

0

In [104]:
# Unify city names (human input required)

# Single-city troubleshooting options:
# city, country = 'Kabul', 'Afghanistan'
# city, country = df_allcities['City'][10], df_allcities['Country'][10]

for index, row in df_reliable[1000:].iterrows():   # batches of 200 ([:200], [200:400], ...)
    city = row['City']
    country = row['Country']
    
    all_countries = list(worldcities_full['country'])

    if country not in all_countries:              # no country match, can ignore, mostly special jurisdictions (e.g. Aland Islands)
        info = empty_row
    else:
        fullset = worldcities_full[worldcities_full['country'] == country]
        all_cities_in_country = list(fullset['city'])
        all_cities_in_country_ascii = list(fullset['city_ascii'])
        
        if country == "United States":
            city_split = city.split(',')
            if len(city_split) > 1:
                city = city_split[0]
                admin_name_str = city_split[1].strip()   # state
                fullset = worldcities_full[(worldcities_full['country'] == "United States")
                                       & (worldcities_full['admin_name'] == admin_name_str)]
            
                all_cities_in_country = list(fullset['city'])             # technically in state, but need the same name for block below
                all_cities_in_country_ascii = list(fullset['city_ascii'])
    
        if city in all_cities_in_country:
            info = fullset.loc[fullset['city'] == city].reset_index(drop=True)
        elif city in all_cities_in_country_ascii:
            info = fullset.loc[fullset['city_ascii'] == city].reset_index(drop=True)
        else:
            city_split = city.split(' ')
            if len(city_split) > 1:
                info = check_single_words(df_reliable.iloc[index])
                info['city'] = city  # rename city for joining
#             elif len(city_split) == 1:
#                 info = check_single_words(df_reliable.iloc[index])
#                 info['city'] = city                
            else:
                info = check_all_options(df_reliable.iloc[index])
                info['city'] = city  # rename city for joining

    append_info(info)

len(population)

Country: Ukraine, City: Odessa
['Obukhiv', 'Obukhivka', 'Ochakiv', 'Odesa', 'Okhtyrka', 'Oleksandriiske', 'Oleksandrivsk', 'Olevsk', 'Opishnya', 'Orikhiv', 'Oster', 'Ostroh', 'Otyniia', 'Ovidiopol', 'Ovruch', 'Ozerne']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Odesa
Data for Odesa selected for Odessa

Country: Ukraine, City: Syeverodonets'k
['Saky', 'Sambir', 'Savyntsi', 'Selydove', 'Semenivka', 'Sevastopol', 'Shakhtarsk', 'Sharhorod', 'Shatsk', 'Shchastia', 'Shepetivka', 'Shevchenkove', 'Shostka', 'Shyriaieve', 'Shyroke', 'Sievierodonetsk', 'Simferopol', 'Skadovsk', 'Skvyra', 'Slatyne', 'Slavutych', 'Slobozhanske', 'Sloviansk', 'Smila', 'Sniatyn', 'Snizhne', 'Snovsk', 'Sofiivka', 'Sofiivka', 'Sofiyivs’ka Borshchahivka', 'Sokal', 'Sokilnyky', 'Solone', 'Solotvyno', 'Sosnivka', 'Sosnytsia', 'Stakhanov', 'Stanytsia Luhanska', 'Stara Syniava', 'Stara Vyzhivka', 'Starobilsk', 'Staryi Sambir', 'Stavyshche', 'Stepanivka', 'Stryi', 'Stryzhavka', 'Sudak', 'Sudova Vyshnya', 'Sukhodilsk', 'Sumy', 'Sutysky', 'Svalyava', 'Svatove', 'Svesa', 'Svitlovodsk', 'Synelnykove']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Sievierodonetsk
Data for Sievierodonetsk selected for Syeverodonets'k

Country: Ukraine, City: Vinnytsya
['Vakhrusheve', 'Valky', 'Vapniarka', 'Vasylivka', 'Vasylkiv', 'Vasylkivka', 'Vatutine', 'Velyka Dymerka', 'Velyki Komiaty', 'Velyki Luchky', 'Velyki Mosty', 'Velykodolynske', 'Velykyi Bychkiv', 'Velykyi Dalnyk', 'Velykyy Bereznyy', 'Verkhivtseve', 'Verkhnodniprovsk', 'Verkhovyna', 'Vesele', 'Veselynove', 'Vilnohirsk', 'Vilshany', 'Vil’nyans’k', 'Vinkivtsi', 'Vinnytsia', 'Volodarka', 'Volodymyr-Volynskyi', 'Volovets', 'Voronovytsia', 'Vorozhba', 'Vorzel', 'Vovchansk', 'Voznesensk', 'Vynnyky', 'Vynohradiv', 'Vyshhorod', 'Vyshkovo', 'Vyshneve']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Vinnytsia
Data for Vinnytsia selected for Vinnytsya

Country: Ukraine, City: Zaporizhzhya
['Zaporizhzhia', 'Zavodske', 'Zelenodolsk', 'Zhashkiv', 'Zhmerynka', 'Zhovkva', 'Zhovti Vody', 'Zhydachiv', 'Zhytomyr', 'Zinkiv', 'Zmiiv', 'Znamianka', 'Zolochiv', 'Zolote', 'Zolotonosha', 'Zoria', 'Zvenyhorodka', 'Z·hurivka']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Zaporizhzhia
Data for Zaporizhzhia selected for Zaporizhzhya

Country: United Arab Emirates, City: Al Ain
City name: Al Ain, Candidate: Al Fujayrah

City name: Al Ain, Candidate: Al ‘Ayn

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Al ‘Ayn
Data for Al ‘Ayn selected for Al Ain

Country: United Kingdom, City: Brighton and Hove
City name: Brighton and Hove, Candidate: Brighton

City name: Brighton and Hove, Candidate: New Brighton

City name: Brighton and Hove, Candidate: Hove

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Brighton
Data for Brighton selected for Brighton and Hove

Country: United Kingdom, City: Cardiff
['Caerdydd', 'Caerfyrddin', 'Caerleon', 'Caernarfon', 'Caerphilly', 'Caister-on-Sea', 'Caldicot', 'Callington', 'Calne', 'Calstock', 'Calverley', 'Calverton', 'Cam', 'Camberley', 'Camborne', 'Cambridge', 'Cambuslang', 'Canford Cliffs', 'Cannock', 'Canterbury', 'Cardenden', 'Carlisle', 'Carlton', 'Carlton Colville', 'Carluke', 'Carnforth', 'Carnoustie', 'Carshalton', 'Carterton', 'Castle Bromwich', 'Castle Donnington', 'Castleford', 'Castleton', 'Caterham', 'Catford', 'Caversham', 'Chaddesden', 'Chalfont Saint Giles', 'Chalfont Saint Peter', 'Chalford', 'Chandlers Ford', 'Chapel en le Frith', 'Chapelhall', 'Chapeltown', 'Chard', 'Charlton Kings', 'Chatham', 'Chatteris', 'Cheadle', 'Cheadle', 'Cheadle Hulme', 'Cheam', 'Cheddar', 'Cheddleton', 'Chellaston', 'Chelmsford', 'Chelsfield', 'Cheltenham', 'Chepstow', 'Cherry Hinton', 'Chertsey', 'Chesham', 'Cheshunt', 'Chester', 'Chester-le-Street', 'Chichester', 'Chickerell', 'Chigwell', 'Childwall', 'Chilwell', 'Chingford', 'Chinnor', 'Chippenham', 'Chipping Norton', 'Chipping Ongar', 'Chipping Sodbury', 'Chislehurst', 'Chobham', 'Choppington', 'Chorley', 'Chorleywood', 'Christchurch', 'Church', 'Church Gresley', 'Churchdown', 'Cinderford', 'Cirencester', 'Clacton-on-Sea', 'Clay Cross', 'Claygate', 'Clayton', 'Clayton le Moors', 'Cleator Moor', 'Cleckheaton', 'Cleethorpes', 'Clevedon', 'Clifton', 'Clifton', 'Cliftonville', 'Clitheroe', 'Clowne', 'Clydach', 'Clydebank', 'Coatbridge', 'Cobham', 'Cockenzie', 'Cockermouth', 'Codsall', 'Colchester', 'Coleford', 'Coleshill', 'Colnbrook', 'Colne', 'Colney Heath', 'Colwyn Bay', 'Congleton', 'Conisbrough', 'Connahs Quay', 'Consett', 'Conwy', 'Cookstown', 'Coppull', 'Corby', 'Corfe Mullen', 'Corsham', 'Coseley', 'Cosham', 'Costessey', 'Cotgrave', 'Cottenham', 'Cottingham', 'Coulsdon', 'Coundon', 'Countesthorpe', 'Cove', 'Coventry', 'Cowdenbeath', 'Cowes', 'Cowley', 'Cowley', 'Coxhoe', 'Cramlington', 'Cramond', 'Cranbrook', 'Cranleigh', 'Crawley', 'Crayford', 'Crediton', 'Crewe', 'Crewkerne', 'Crieff', 'Crigglestone', 'Crofton', 'Cromer', 'Crosby', 'Cross Gates', 'Crowborough', 'Crowthorne', 'Croxley Green', 'Croydon', 'Crumlin', 'Cuddington', 'Cudworth', 'Culcheth', 'Cullercoats', 'Cullompton', 'Cumbernauld', 'Cumnock', 'Cumnor', 'Cupar', 'Currie', 'Cwmafan', 'Cwmbach', 'Cwmbran']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Caerdydd
Data for Caerdydd selected for Cardiff

Country: United Kingdom, City: Gloucester
['Gainsborough', 'Galashiels', 'Galleywood', 'Garforth', 'Garswood', 'Gateshead', 'Gedling', 'Giffnock', 'Gildersome', 'Gillingham', 'Gillingham', 'Girvan', 'Glascote', 'Glasgow', 'Glastonbury', 'Glen Parva', 'Glenfield', 'Glenrothes', 'Glossop', 'Glyncorrwg', 'Godalming', 'Godmanchester', 'Godstone', 'Goffs Oak', 'Golborne', 'Golcar', 'Goodmayes', 'Goole', 'Gorebridge', 'Goring by Sea', 'Gorleston-on-Sea', 'Gornalwood', 'Gosforth', 'Gosport', 'Gourock', 'Govan', 'Gowerton', 'Grangemouth', 'Grangetown', 'Grantham', 'Gravesend', 'Grays', 'Great Baddow', 'Great Billing', 'Great Bookham', 'Great Burstead', 'Great Chart', 'Great Cornard', 'Great Driffield', 'Great Dunmow', 'Great Harwood', 'Great Linford', 'Great Meols', 'Great Missenden', 'Great Sankey', 'Great Wakering', 'Great Warley Street', 'Great Wyrley', 'Great Yarmouth', 'Greenford', 'Greenhill', 'Greenock', 'Greetland', 'Gresford', 'Griffithstown', 'Grimsby', 'Grove', 'Guildford', 'Guisborough', 'Guiseley']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
skip
No city chosen; no city matching Gloucester

Country: United Kingdom, City: Newcastle upon Tyne
City name: Newcastle upon Tyne, Candidate: Newcastle

City name: Newcastle upon Tyne, Candidate: Newcastle under Lyme

City name: Newcastle upon Tyne, Candidate: Barrow upon Soar

City name: Newcastle upon Tyne, Candidate: Barton upon Humber

City name: Newcastle upon Tyne, Candidate: Barton upon Irwell

City name: Newcastle upon Tyne, Candidate: Bolton upon Dearne

City name: Newcastle upon Tyne, Candidate: Burton upon Trent

City name: Newcastle upon Tyne, Candidate: Kingston upon Hull

City name: Newcastle upon Tyne, Candidate: Kingston upon Thames

City name: Newcastle upon Tyne, Candidate: Walton upon Thames

City name: Newcastle upon Tyne, Candidate: Wath upon Dearne

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Newcastle
Data for Newcastle selected for Newcastle upon Tyne

Country: United Kingdom, City: Northampton
['Nailsea', 'Nailsworth', 'Nairn', 'Nantwich', 'Narborough', 'Neath', 'Neilston', 'Nelson', 'Neston', 'Netherton', 'New Alresford', 'New Brighton', 'New Inn', 'New Mills', 'New Milton', 'New Romney', 'Newarthill', 'Newbiggin-by-the-Sea', 'Newbold', 'Newbridge', 'Newburn', 'Newbury', 'Newcastle', 'Newcastle under Lyme', 'Newent', 'Newhaven', 'Newmains', 'Newmarket', 'Newport', 'Newport', 'Newport', 'Newport Pagnell', 'Newport-On-Tay', 'Newquay', 'Newton Abbot', 'Newton Aycliffe', 'Newton Grange', 'Newton Mearns', 'Newton in Makerfield', 'Newtown', 'Normanton', 'North Berwick', 'North Hykeham', 'North Petherton', 'North Shields', 'North Tidworth', 'North Walsham', 'Northallerton', 'Northam', 'Northenden', 'Northfield', 'Northfleet', 'Northolt', 'Northwich', 'Northwood', 'Norton Canes', 'Norwich', 'Nottingham', 'Nuneaton', 'Nursling']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'

skip
No city chosen; no city matching Northampton

Country: United Kingdom, City: Reading, Berkshire
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Reading
Data for Reading selected for Reading, Berkshire

Country: United Kingdom, City: Southend-on-Sea
['Saffron Walden', 'Saint Agnes', 'Saint Albans', 'Saint Andrews', 'Saint Austell', 'Saint Blazey', 'Saint Budeaux', 'Saint Helens', 'Saint Ives', 'Saint Ives', 'Saint Neots', 'Saint Peters', 'Sale', 'Salford', 'Salisbury', 'Saltash', 'Saltburn-by-the-Sea', 'Saltcoats', 'Sandbach', 'Sanderstead', 'Sandhurst', 'Sandiacre', 'Sandown', 'Sandridge', 'Sandy', 'Sandycroft', 'Sauchie', 'Sawbridgeworth', 'Sawley', 'Sawston', 'Sawtry', 'Scarborough', 'Scartho', 'Scunthorpe', 'Seacombe', 'Seacroft', 'Seaford', 'Seaham', 'Seasalter', 'Seaton', 'Seaton Carew', 'Sedgefield', 'Sedgley', 'Selby', 'Selkirk', 'Selsey', 'Selston', 'Sevenoaks', 'Shaftesbury', 'Shanklin', 'Sheerness', 'Sheffield', 'Sheldon', 'Shenfield', 'Shenley Brook End', 'Shenley Church End', 'Shenstone', 'Shepperton', 'Shepshed', 'Shepton Mallet', 'Sherborne', 'Sherburn in Elmet', 'Sheriff Hill', 'Sheringham', 'Shevington', 'Shifnal', 'Shildon', 'Shinfield', 'Shipley', 'Shipston on Stour', 'Shirebrook', 'Shirley', 'Shoeburyness', 'Shoreham-by-Sea', 'Shotley Bridge', 'Shrewsbury', 'Sidcup', 'Sidley', 'Sidmouth', 'Sileby', 'Silsden', 'Sittingbourne', 'Skegness', 'Skelmersdale', 'Skelton', 'Skewen', 'Skipton', 'Sleaford', 'Slough', 'Small Heath', 'Smethwick', 'Snaresbrook', 'Snodland', 'Soham', 'Solihull', 'Sollom', 'Sompting', 'South Elmsall', 'South Molton', 'South Normanton', 'South Ockendon', 'South Shields', 'Southall', 'Southam', 'Southampton', 'Southborough', 'Southbourne', 'Southbourne', 'Southend', 'Southgate', 'Southport', 'Southwater', 'Southwell', 'Southwick', 'Southwick', 'Sowerby Bridge', 'Spalding', 'Spennymoor', 'Spitalfields', 'Spondon', 'Stafford', 'Staines-upon-Thames', 'Stainforth', 'Stainland', 'Stalybridge', 'Stamford', 'Standish', 'Stanford le Hope', 'Stanley', 'Stanmore', 'Stannington', 'Stansted Mountfitchet', 'Stanwell', 'Stapleford', 'Staplehurst', 'Staveley', 'Stepney', 'Stepps', 'Stevenston', 'Stewarton', 'Steyning', 'Stirling', 'Stockport', 'Stocksbridge', 'Stockton-on-Tees', 'Stoke Gifford', 'Stoke Mandeville', 'Stoke-on-Trent', 'Stone', 'Stonehaven', 'Stonehouse', 'Stonehouse', 'Stonewood', 'Stony Stratford', 'Stopsley', 'Stornoway', 'Stotfold', 'Stourbridge', 'Stowmarket', 'Stranraer', 'Stratford', 'Stratford-upon-Avon', 'Strathaven', 'Stratton Saint Margaret', 'Streatham', 'Street', 'Streetly', 'Strensall', 'Stretford', 'Strood', 'Stroud', 'Studley', 'Sturry', 'Sudbury', 'Sudbury', 'Sunbury', 'Sunderland', 'Sundon', 'Sunninghill', 'Surbiton', 'Sutton', 'Sutton Coldfield', 'Sutton in Ashfield', 'Sutton on Hull', 'Swadlincote', 'Swaffham', 'Swallownest', 'Swanage', 'Swanscombe', 'Swanwick', 'Swindon', 'Swinton', 'Swinton', 'Syston']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Southend
Data for Southend selected for Southend-on-Sea

Country: United States, City: Maui
['Mableton', 'Macclenny', 'Macedon', 'Macedonia', 'Machesney Park', 'Mack', 'Macomb', 'Macon', 'Macon', 'Madeira', 'Madera', 'Madera Acres', 'Madison', 'Madison', 'Madison', 'Madison', 'Madison', 'Madison', 'Madison', 'Madison Heights', 'Madison Heights', 'Madison Park', 'Madisonville', 'Madisonville', 'Madras', 'Magalia', 'Magna', 'Magnolia', 'Mahomet', 'Mahopac', 'Mahtomedi', 'Mahwah', 'Maidencreek', 'Maili', 'Maine', 'Maitland', 'Makaha', 'Makakilo', 'Makawao', 'Malden', 'Malibu', 'Malone', 'Malta', 'Maltby', 'Malvern', 'Malverne', 'Mamakating', 'Mamaroneck', 'Mammoth Lakes', 'Manalapan', 'Manasquan', 'Manassas', 'Manassas Park', 'Manchester', 'Manchester', 'Manchester', 'Manchester', 'Manchester', 'Manchester', 'Manchester', 'Manchester', 'Manchester', 'Manchester-by-the-Sea', 'Mandan', 'Mandeville', 'Mango', 'Manhasset', 'Manhattan', 'Manhattan', 'Manhattan', 'Manhattan Beach', 'Manistee', 'Manitou Springs', 'Manitowoc', 'Mankato', 'Manlius', 'Manor', 'Manor', 'Manorhaven', 'Manorville', 'Mansfield', 'Mansfield', 'Mansfield', 'Mansfield', 'Mansfield', 'Mansfield', 'Mansfield Center', 'Manteca', 'Manteno', 'Manteo', 'Mantua', 'Mantua', 'Manvel', 'Manville', 'Maple Glen', 'Maple Grove', 'Maple Heights', 'Maple Shade', 'Maple Valley', 'Mapleton', 'Maplewood', 'Maplewood', 'Maplewood', 'Maplewood', 'Maquoketa', 'Marana', 'Marathon', 'Marble Falls', 'Marblehead', 'Marbletown', 'Marcellus', 'Marco Island', 'Marcy', 'Marengo', 'Margaret', 'Margate', 'Margate City', 'Marianna', 'Maricopa', 'Marietta', 'Marietta', 'Marilla', 'Marina', 'Marina del Rey', 'Marinette', 'Marion', 'Marion', 'Marion', 'Marion', 'Marion', 'Marion', 'Marion', 'Marion', 'Marion', 'Markham', 'Marksville', 'Marlboro', 'Marlboro Village', 'Marlborough', 'Marlborough', 'Marlborough', 'Marlin', 'Marlow Heights', 'Marlton', 'Marlton', 'Marple', 'Marquette', 'Marrero', 'Marshall', 'Marshall', 'Marshall', 'Marshall', 'Marshall', 'Marshalltown', 'Marshfield', 'Marshfield', 'Marshfield', 'Martha Lake', 'Martic', 'Martin', 'Martinez', 'Martinez', 'Martins Ferry', 'Martinsburg', 'Martinsville', 'Martinsville', 'Martinsville', 'Marvin', 'Maryland City', 'Maryland Heights', 'Marysville', 'Marysville', 'Marysville', 'Marysville', 'Maryville', 'Maryville', 'Maryville', 'Mascotte', 'Mascoutah', 'Mashpee', 'Mason', 'Mason', 'Mason City', 'Massac', 'Massanetta Springs', 'Massapequa', 'Massapequa Park', 'Massena', 'Massillon', 'Mastic', 'Mastic Beach', 'Matawan', 'Mathis', 'Mattapoisett', 'Mattawa', 'Matteson', 'Matthews', 'Mattoon', 'Mattydale', 'Mauldin', 'Maumee', 'Maumelle', 'Maurice River', 'Maxatawny', 'Mayfield', 'Mayfield', 'Mayfield Heights', 'Mayflower Village', 'Maynard', 'Mayo', 'Mays Chapel', 'Maysville', 'Maywood', 'Maywood', 'Maywood', 'McAlester', 'McAllen', 'McCandless', 'McComb', 'McCook', 'McCordsville', 'McDonough', 'McFarland', 'McFarland', 'McGregor', 'McGregor', 'McGuire AFB', 'McHenry', 'McKees Rocks', 'McKeesport', 'McKenzie', 'McKinleyville', 'McKinney', 'McLean', 'McMinnville', 'McMinnville', 'McNair', 'McPherson', 'McRae-Helena', 'Mead', 'Mead Valley', 'Meadow Lakes', 'Meadow Woods', 'Meadowbrook', 'Meadowbrook', 'Meadville', 'Mebane', 'Mecca', 'Mechanicsburg', 'Mechanicstown', 'Mechanicsville', 'Mechanicville', 'Medfield', 'Medford', 'Medford', 'Medford', 'Medford', 'Media', 'Medina', 'Medina', 'Medina', 'Medulla', 'Medway', 'Mehlville', 'Melbourne', 'Melissa', 'Melrose', 'Melrose Park', 'Melville', 'Melvindale', 'Memphis', 'Memphis', 'Mena', 'Menasha', 'Mendham', 'Mendon', 'Mendon', 'Mendota', 'Mendota', 'Mendota Heights', 'Menifee', 'Menlo Park', 'Menominee', 'Menomonee Falls', 'Menomonie', 'Mentone', 'Mentor', 'Mentor-on-the-Lake', 'Mequon', 'Meraux', 'Merced', 'Mercedes', 'Mercer Island', 'Mercerville', 'Meredith', 'Meriden', 'Meridian', 'Meridian', 'Meridianville', 'Merriam', 'Merrick', 'Merrifield', 'Merrill', 'Merrillville', 'Merrimac', 'Merrimack', 'Merritt Island', 'Merrydale', 'Mesa', 'Mesquite', 'Mesquite', 'Metairie', 'Methuen Town', 'Metropolis', 'Metuchen', 'Mexia', 'Mexico', 'Mexico', 'Miami', 'Miami', 'Miami Beach', 'Miami Gardens', 'Miami Lakes', 'Miami Shores', 'Miami Springs', 'Miamisburg', 'Micco', 'Michigan City', 'Middle', 'Middle Island', 'Middle Paxton', 'Middle River', 'Middle Smithfield', 'Middle Valley', 'Middleborough', 'Middleborough Center', 'Middleburg', 'Middleburg Heights', 'Middlebury', 'Middlebury', 'Middleport', 'Middlesborough', 'Middlesex', 'Middlesex', 'Middleton', 'Middleton', 'Middleton', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Middletown', 'Midfield', 'Midland', 'Midland', 'Midland', 'Midland Park', 'Midlothian', 'Midlothian', 'Midvale', 'Midway', 'Midway', 'Midway City', 'Midwest City', 'Mila Doce', 'Milan', 'Milan', 'Miles City', 'Milford', 'Milford', 'Milford', 'Milford', 'Milford', 'Milford', 'Milford', 'Milford Mill', 'Milford city', 'Mililani Mauka', 'Mililani Town', 'Mill Creek', 'Mill Creek East', 'Mill Valley', 'Millbrae', 'Millbrook', 'Millburn', 'Millbury', 'Millcreek', 'Millcreek', 'Milledgeville', 'Miller Place', 'Millersville', 'Millersville', 'Milliken', 'Millington', 'Millis', 'Mills River', 'Millsboro', 'Millstone', 'Milltown', 'Millville', 'Milo', 'Milpitas', 'Milton', 'Milton', 'Milton', 'Milton', 'Milton', 'Milton', 'Milton', 'Milton', 'Milton-Freewater', 'Milwaukee', 'Milwaukie', 'Mims', 'Minden', 'Mineola', 'Mineola', 'Mineral Wells', 'Minneapolis', 'Minnehaha', 'Minneola', 'Minnetonka', 'Minnetrista', 'Minooka', 'Minot', 'Minot AFB', 'Mint Hill', 'Mira Monte', 'Miramar', 'Miramar Beach', 'Mishawaka', 'Mission', 'Mission', 'Mission Bend', 'Mission Viejo', 'Missoula', 'Missouri City', 'Mitchell', 'Mitchellville', 'Moab', 'Moapa Valley', 'Moberly', 'Mobile', 'Mocksville', 'Modesto', 'Mokena', 'Molalla', 'Moline', 'Monaca', 'Monahans', 'Moncks Corner', 'Monee', 'Monessen', 'Monett', 'Monfort Heights', 'Monmouth', 'Monmouth', 'Monona', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroe', 'Monroeville', 'Monroeville', 'Monrovia', 'Monsey', 'Monson', 'Mont Belvieu', 'Montague', 'Montclair', 'Montclair', 'Montclair', 'Montebello', 'Montecito', 'Monterey', 'Monterey Park', 'Montesano', 'Montevallo', 'Montevideo', 'Montezuma', 'Montgomery', 'Montgomery', 'Montgomery', 'Montgomery', 'Montgomery', 'Montgomery', 'Montgomery', 'Montgomery', 'Montgomery Village', 'Montgomeryville', 'Monticello', 'Monticello', 'Monticello', 'Monticello', 'Monticello', 'Monticello', 'Montpelier', 'Montrose', 'Montrose', 'Montrose', 'Montvale', 'Montville', 'Montville', 'Monument', 'Moody', 'Moon', 'Moore', 'Moore', 'Moores Mill', 'Moorestown', 'Moorestown-Lenola', 'Mooresville', 'Mooresville', 'Moorhead', 'Moorpark', 'Moosic', 'Moraga', 'Moraine', 'Moreau', 'Morehead', 'Morehead City', 'Moreno Valley', 'Morgan City', 'Morgan Hill', 'Morganfield', 'Morganton', 'Morgantown', 'Morganville', 'Morrilton', 'Morris', 'Morris', 'Morris', 'Morris Plains', 'Morristown', 'Morristown', 'Morristown', 'Morrisville', 'Morrisville', 'Morro Bay', 'Morrow', 'Morton', 'Morton Grove', 'Moscow', 'Moses Lake', 'Moss Bluff', 'Moss Point', 'Moultrie', 'Mound', 'Mounds View', 'Moundsville', 'Mount Airy', 'Mount Airy', 'Mount Arlington', 'Mount Carmel', 'Mount Carmel', 'Mount Carmel', 'Mount Clemens', 'Mount Dora', 'Mount Healthy', 'Mount Holly', 'Mount Holly', 'Mount Hope', 'Mount Horeb', 'Mount Ivy', 'Mount Joy', 'Mount Juliet', 'Mount Kisco', 'Mount Laurel', 'Mount Lebanon', 'Mount Olive', 'Mount Olive', 'Mount Pleasant', 'Mount Pleasant', 'Mount Pleasant', 'Mount Pleasant', 'Mount Pleasant', 'Mount Pleasant', 'Mount Pocono', 'Mount Prospect', 'Mount Rainier', 'Mount Shasta', 'Mount Sinai', 'Mount Sterling', 'Mount Vernon', 'Mount Vernon', 'Mount Vernon', 'Mount Vernon', 'Mount Vernon', 'Mount Vernon', 'Mount Vernon', 'Mount Vista', 'Mount Washington', 'Mount Zion', 'Mountain Brook', 'Mountain Home', 'Mountain Home', 'Mountain House', 'Mountain Park', 'Mountain Top', 'Mountain View', 'Mountainside', 'Mountlake Terrace', 'Muhlenberg', 'Mukilteo', 'Mukwonago', 'Muldrow', 'Muleshoe', 'Mullica', 'Mullins', 'Mulvane', 'Muncie', 'Muncy', 'Mundelein', 'Munford', 'Munhall', 'Munroe Falls', 'Munster', 'Murfreesboro', 'Murillo', 'Murphy', 'Murphy', 'Murphysboro', 'Murray', 'Murray', 'Murraysville', 'Murrells Inlet', 'Murrieta', 'Murrysville', 'Muscatine', 'Muscle Shoals', 'Muscoy', 'Muskego', 'Muskegon', 'Muskegon Heights', 'Muskogee', 'Mustang', 'Myers Corner', 'Myrtle Beach', 'Myrtle Grove', 'Myrtle Grove', 'Myrtletown', 'Mystic Island']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'

a

Wailuku
Data for Wailuku selected for Maui

Country: United States, City: Minneapolis - St. Paul
City name: Minneapolis - St. Paul, Candidate: Minneapolis

City name: Minneapolis - St. Paul, Candidate: North St. Paul

City name: Minneapolis - St. Paul, Candidate: South St. Paul

City name: Minneapolis - St. Paul, Candidate: St. Anthony

City name: Minneapolis - St. Paul, Candidate: St. Cloud

City name: Minneapolis - St. Paul, Candidate: St. Francis

City name: Minneapolis - St. Paul, Candidate: St. Joseph

City name: Minneapolis - St. Paul, Candidate: St. Louis Park

City name: Minneapolis - St. Paul, Candidate: St. Michael

City name: Minneapolis - St. Paul, Candidate: St. Paul

City name: Minneapolis - St. Paul, Candidate: St. Paul Park

City name: Minneapolis - St. Paul, Candidate: St. Peter

City name: Minneapolis - St. Paul, Candidate: West St. Paul

City name: Minneapolis - St. Paul, Candidate: North St. Paul

City name: Minneapolis - St. Paul, Candidate: South St. Paul

City name: Minneapolis - St. Paul, Candidate: St. Paul

City name: Minneapolis - St. Paul, Candidate: St. Paul Park

City name: Minneapolis - St. Paul, Candidate: West St. Paul

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Minneapolis
Data for Minneapolis selected for Minneapolis - St. Paul

Country: United States, City: Naknek
['Anchorage', 'Badger', 'Bethel', 'Chena Ridge', 'College', 'Fairbanks', 'Farmers Loop', 'Fishhook', 'Gateway', 'Homer', 'Juneau', 'Kalifornsky', 'Kenai', 'Ketchikan', 'Knik-Fairview', 'Kodiak', 'Meadow Lakes', 'Palmer', 'Sitka', 'Soldotna', 'Steele Creek', 'Sterling', 'Tanaina', 'Wasilla']
Copy matching city name from list above.
If absent, enter 'skip'
skip
No city chosen; no city matching Naknek

Country: United States, City: New York City
City name: New York City, Candidate: New Albany

City name: New York City, Candidate: New Albany

City name: New York City, Candidate: New Albany

City name: New York City, Candidate: New Baltimore

City name: New York City, Candidate: New Baltimore

City name: New York City, Candidate: New Bedford

City name: New York City, Candidate: New Berlin

City name: New York City, Candidate: New Bern

City name: New York City, Candidate: New Boston

City name: New York City, Candidate: New Braunfels

City name: New York City, Candidate: New Bremen

City name: New York City, Candidate: New Brighton

City name: New York City, Candidate: New Brighton

City name: New York City, Candidate: New Britain

City name: New York City, Candidate: New Britain

City name: New York City, Candidate: New Brunswick

City name: New York City, Candidate: New Burlington

City name: New York City, Candidate: New Canaan

City name: New York City, Candidate: New Carlisle

City name: New York City, Candidate: New Carrollton

City name: New York City, Candidate: New Cassel

City name: New York City, Candidate: New Castle

City name: New York City, Candidate: New Castle

City name: New York City, Candidate: New Castle

City name: New York City, Candidate: New Castle

City name: New York City, Candidate: New Castle

City name: New York City, Candidate: New City

City name: New York City, Candidate: New Cumberland

City name: New York City, Candidate: New Fairfield

City name: New York City, Candidate: New Franklin

City name: New York City, Candidate: New Freedom

City name: New York City, Candidate: New Garden

City name: New York City, Candidate: New Gloucester

City name: New York City, Candidate: New Hanover

City name: New York City, Candidate: New Hanover

City name: New York City, Candidate: New Hartford

City name: New York City, Candidate: New Hartford

City name: New York City, Candidate: New Haven

City name: New York City, Candidate: New Haven

City name: New York City, Candidate: New Hempstead

City name: New York City, Candidate: New Holland

City name: New York City, Candidate: New Hope

City name: New York City, Candidate: New Hyde Park

City name: New York City, Candidate: New Iberia

City name: New York City, Candidate: New Ipswich

City name: New York City, Candidate: New Kensington

City name: New York City, Candidate: New Kingman-Butler

City name: New York City, Candidate: New Lenox

City name: New York City, Candidate: New London

City name: New York City, Candidate: New London

City name: New York City, Candidate: New London

City name: New York City, Candidate: New Martinsville

City name: New York City, Candidate: New Milford

City name: New York City, Candidate: New Milford

City name: New York City, Candidate: New Orleans

City name: New York City, Candidate: New Paltz

City name: New York City, Candidate: New Philadelphia

City name: New York City, Candidate: New Port Richey

City name: New York City, Candidate: New Port Richey East

City name: New York City, Candidate: New Prague

City name: New York City, Candidate: New Providence

City name: New York City, Candidate: New Richmond

City name: New York City, Candidate: New River

City name: New York City, Candidate: New Roads

City name: New York City, Candidate: New Rochelle

City name: New York City, Candidate: New Scotland

City name: New York City, Candidate: New Sewickley

City name: New York City, Candidate: New Smyrna Beach

City name: New York City, Candidate: New Square

City name: New York City, Candidate: New Ulm

City name: New York City, Candidate: New Whiteland

City name: New York City, Candidate: New Windsor

City name: New York City, Candidate: New York

City name: New York City, Candidate: North New Hyde Park

City name: New York City, Candidate: West New York

City name: New York City, Candidate: East York

City name: New York City, Candidate: New York

City name: New York City, Candidate: West New York

City name: New York City, Candidate: York

City name: New York City, Candidate: York

City name: New York City, Candidate: York

City name: New York City, Candidate: York

City name: New York City, Candidate: Alexander City

City name: New York City, Candidate: Amite City

City name: New York City, Candidate: Arizona City

City name: New York City, Candidate: Arkansas City

City name: New York City, Candidate: Atlantic City

City name: New York City, Candidate: Baker City

City name: New York City, Candidate: Bay City

City name: New York City, Candidate: Bay City

City name: New York City, Candidate: Bessemer City

City name: New York City, Candidate: Big Bear City

City name: New York City, Candidate: Bossier City

City name: New York City, Candidate: Boulder City

City name: New York City, Candidate: Bridge City

City name: New York City, Candidate: Bridge City

City name: New York City, Candidate: Brigham City

City name: New York City, Candidate: Bullhead City

City name: New York City, Candidate: California City

City name: New York City, Candidate: Calumet City

City name: New York City, Candidate: Carson City

City name: New York City, Candidate: Cathedral City

City name: New York City, Candidate: Cañon City

City name: New York City, Candidate: Cedar City

City name: New York City, Candidate: Central City

City name: New York City, Candidate: Charles City

City name: New York City, Candidate: Chisago City

City name: New York City, Candidate: City of Orange

City name: New York City, Candidate: Coal City

City name: New York City, Candidate: Colorado City

City name: New York City, Candidate: Colorado City

City name: New York City, Candidate: Columbia City

City name: New York City, Candidate: Commerce City

City name: New York City, Candidate: Cooper City

City name: New York City, Candidate: Crescent City

City name: New York City, Candidate: Crystal City

City name: New York City, Candidate: Culver City

City name: New York City, Candidate: Dade City

City name: New York City, Candidate: Dale City

City name: New York City, Candidate: Daly City

City name: New York City, Candidate: Del City

City name: New York City, Candidate: Denver City

City name: New York City, Candidate: Dickson City

City name: New York City, Candidate: Dodge City

City name: New York City, Candidate: Elizabeth City

City name: New York City, Candidate: Elk City

City name: New York City, Candidate: Ellicott City

City name: New York City, Candidate: Ellwood City

City name: New York City, Candidate: Floral City

City name: New York City, Candidate: Florida City

City name: New York City, Candidate: Forest City

City name: New York City, Candidate: Forest City

City name: New York City, Candidate: Forrest City

City name: New York City, Candidate: Foster City

City name: New York City, Candidate: Garden City

City name: New York City, Candidate: Garden City

City name: New York City, Candidate: Garden City

City name: New York City, Candidate: Garden City

City name: New York City, Candidate: Garden City

City name: New York City, Candidate: Garden City

City name: New York City, Candidate: Garden City Park

City name: New York City, Candidate: Gas City

City name: New York City, Candidate: Gloucester City

City name: New York City, Candidate: Granite City

City name: New York City, Candidate: Grove City

City name: New York City, Candidate: Grove City

City name: New York City, Candidate: Gun Barrel City

City name: New York City, Candidate: Haines City

City name: New York City, Candidate: Haltom City

City name: New York City, Candidate: Hartford City

City name: New York City, Candidate: Highland City

City name: New York City, Candidate: Horizon City

City name: New York City, Candidate: Iowa City

City name: New York City, Candidate: Jacinto City

City name: New York City, Candidate: James City

City name: New York City, Candidate: Jefferson City

City name: New York City, Candidate: Jefferson City

City name: New York City, Candidate: Jersey City

City name: New York City, Candidate: Jewett City

City name: New York City, Candidate: Johnson City

City name: New York City, Candidate: Johnson City

City name: New York City, Candidate: Junction City

City name: New York City, Candidate: Junction City

City name: New York City, Candidate: Kansas City

City name: New York City, Candidate: Kansas City

City name: New York City, Candidate: Kenneth City

City name: New York City, Candidate: King City

City name: New York City, Candidate: Lake City

City name: New York City, Candidate: Lake City

City name: New York City, Candidate: Lake City

City name: New York City, Candidate: Lake Havasu City

City name: New York City, Candidate: League City

City name: New York City, Candidate: Leisure City

City name: New York City, Candidate: Lenoir City

City name: New York City, Candidate: Lincoln City

City name: New York City, Candidate: Margate City

City name: New York City, Candidate: Maryland City

City name: New York City, Candidate: Mason City

City name: New York City, Candidate: Michigan City

City name: New York City, Candidate: Midway City

City name: New York City, Candidate: Midwest City

City name: New York City, Candidate: Miles City

City name: New York City, Candidate: Missouri City

City name: New York City, Candidate: Morehead City

City name: New York City, Candidate: Morgan City

City name: New York City, Candidate: National City

City name: New York City, Candidate: Nebraska City

City name: New York City, Candidate: New City

City name: New York City, Candidate: Ocean City

City name: New York City, Candidate: Ocean City

City name: New York City, Candidate: Ocean City

City name: New York City, Candidate: Oil City

City name: New York City, Candidate: Oklahoma City

City name: New York City, Candidate: Orange City

City name: New York City, Candidate: Orange City

City name: New York City, Candidate: Oregon City

City name: New York City, Candidate: Palm City

City name: New York City, Candidate: Panama City

City name: New York City, Candidate: Panama City Beach

City name: New York City, Candidate: Park City

City name: New York City, Candidate: Park City

City name: New York City, Candidate: Park City

City name: New York City, Candidate: Peachtree City

City name: New York City, Candidate: Pearl City

City name: New York City, Candidate: Pell City

City name: New York City, Candidate: Phenix City

City name: New York City, Candidate: Plain City

City name: New York City, Candidate: Plant City

City name: New York City, Candidate: Platte City

City name: New York City, Candidate: Ponca City

City name: New York City, Candidate: Rainbow City

City name: New York City, Candidate: Rapid City

City name: New York City, Candidate: Redwood City

City name: New York City, Candidate: Rio Grande City

City name: New York City, Candidate: Royse City

City name: New York City, Candidate: Salt Lake City

City name: New York City, Candidate: Salton City

City name: New York City, Candidate: Scott City

City name: New York City, Candidate: Siler City

City name: New York City, Candidate: Silver City

City name: New York City, Candidate: Sioux City

City name: New York City, Candidate: South Sioux City

City name: New York City, Candidate: Suisun City

City name: New York City, Candidate: Sullivan City

City name: New York City, Candidate: Sun City

City name: New York City, Candidate: Sun City Center

City name: New York City, Candidate: Sun City West

City name: New York City, Candidate: Tabor City

City name: New York City, Candidate: Tell City

City name: New York City, Candidate: Temple City

City name: New York City, Candidate: Texas City

City name: New York City, Candidate: Tipp City

City name: New York City, Candidate: Traverse City

City name: New York City, Candidate: Tuba City

City name: New York City, Candidate: Union City

City name: New York City, Candidate: Union City

City name: New York City, Candidate: Union City

City name: New York City, Candidate: Union City

City name: New York City, Candidate: Union City

City name: New York City, Candidate: Universal City

City name: New York City, Candidate: University City

City name: New York City, Candidate: Valley City

City name: New York City, Candidate: Ventnor City

City name: New York City, Candidate: Watford City

City name: New York City, Candidate: Webb City

City name: New York City, Candidate: Webster City

City name: New York City, Candidate: West Valley City

City name: New York City, Candidate: White City

City name: New York City, Candidate: White City

City name: New York City, Candidate: Yazoo City

City name: New York City, Candidate: Yuba City

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'

New York
Data for New York selected for New York City

Country: United States, City: Washington D.C.
City name: Washington D.C., Candidate: Fort Washington

City name: Washington D.C., Candidate: Fort Washington

City name: Washington D.C., Candidate: Mount Washington

City name: Washington D.C., Candidate: Port Washington

City name: Washington D.C., Candidate: Port Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington

City name: Washington D.C., Candidate: Washington Court House

City name: Washington D.C., Candidate: Washington Terrace

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
skip
No city chosen; no city matching Washington D.C.

Country: Uzbekistan, City: Urgench
['Uchquduq Shahri', 'Urganch', 'Urgut Shahri']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Urganch
Data for Urganch selected for Urgench

Country: Uzbekistan, City: Zarafshon
['Zarafshon Shahri']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Zarafshon Shahri
Data for Zarafshon Shahri selected for Zarafshon

Country: Yemen, City: San‘a’
['Sanaa', 'Sayḩūt', 'Say’ūn']
Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Sanaa
Data for Sanaa selected for San‘a’

Country: Zimbabwe, City: Zvishavane District
City name: Zvishavane District, Candidate: Zvishavane

Copy matching city name from list above.
For full list, enter 'a'. If absent, enter 'skip'
Zvishavane
Data for Zvishavane selected for Zvishavane District

238

In [67]:
# if needed to cut by slicing

# population = population[1:]
# capital = capital[1:]
# admin_name = admin_name[1:]
# lat = lat[1:]
# lng = lng[1:]

In [106]:
# check against Excel file

print(len(population),
      #df_reliable['City'][-1],
      population[-1])

238 35229.0

In [107]:
list_tuples = list(zip(population, capital, admin_name, lat, lng))

df1000_1237 = pd.DataFrame(list_tuples, columns = list_feature_names)

# df0000_0199
# df0200_0399
# df0400_0599
# df0600_0799
# df0800_0999
# df1000_1237

     population  capital          admin_name      lat      lng
0      724314.0    admin   L’vivs’ka Oblast’  49.8419  24.0315
1      449498.0      NaN   Donets’ka Oblast’  47.1306  37.5639
2     1017699.0    admin     Odes’ka Oblast’  46.4775  30.7326
3      317847.0    admin  Poltavs’ka Oblast’  49.5744  34.5686
4      245630.0    admin  Rivnens’ka Oblast’  50.6197  26.2514
..          ...      ...                 ...      ...      ...
233    507355.0    admin               ‘Adan  12.8000  45.0333
234   2957000.0  primary   Amānat al ‘Āşimah  15.3500  44.2000
235   1742979.0  primary              Lusaka -15.4167  28.2833
236   2150000.0  primary              Harare -17.8292  31.0522
237     35229.0      NaN            Masvingo -20.3333  30.0333

[238 rows x 5 columns]

In [108]:
# Save as you go

df1000_1237.to_pickle('df1000_1237')
df1000_1237.to_csv('df1000_1237', index=False)

### Combining all city-level dfs

In [109]:
# For reference

df0000_0199 = pd.read_csv('df0000_0199')
df0200_0399 = pd.read_csv('df0200_0399')
df0400_0599 = pd.read_csv('df0400_0599')
df0600_0799 = pd.read_csv('df0600_0799')
df0800_0999 = pd.read_csv('df0800_0999')
df1000_1237 = pd.read_csv('df1000_1237')

list_citydfs = [df0000_0199, df0200_0399, df0400_0599,
                df0600_0799, df0800_0999, df1000_1237]

In [115]:
# Join all city-level data (by rows)

df_citydata = pd.concat(list_citydfs, axis=0, ignore_index=True)
df_citydata

      population  capital         admin_name      lat      lng
0      3678034.0  primary              Kābul  34.5328  69.1658
1        78703.0    admin            Elbasan  41.1125  20.0822
2       418495.0  primary             Tiranë  41.3300  19.8200
3      3415811.0  primary              Alger  36.7764   3.0586
4       852000.0    admin               Oran  35.6969  -0.6331
...          ...      ...                ...      ...      ...
1233    507355.0    admin              ‘Adan  12.8000  45.0333
1234   2957000.0  primary  Amānat al ‘Āşimah  15.3500  44.2000
1235   1742979.0  primary             Lusaka -15.4167  28.2833
1236   2150000.0  primary             Harare -17.8292  31.0522
1237     35229.0      NaN           Masvingo -20.3333  30.0333

[1238 rows x 5 columns]

In [ ]:
len()

In [125]:
# Join city-level feature to price df (by columns)

df_reliable2 = pd.concat([df_reliable, df_citydata], axis=1)
df_reliable2.tail(30)

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,mobile_wifi_128gb,COL (Family of 4),COL (Single of 1),No. Prices,No. Contributors,population,capital,admin_name,lat,lng
1208,Punta del Este,Uruguay,https://www.expatistan.com/cost-of-living/punt...,776.00,564.00,375.00,321.00,12.00,26.00,14.00,...,703.00,1125.0,2552.0,73,10,9277.0,NaN,Maldonado,-34.9786,-54.9331
1209,Rivera,Uruguay,https://www.expatistan.com/cost-of-living/rivera,234.00,NaN,NaN,NaN,13.00,NaN,NaN,...,NaN,NaN,NaN,11,8,78900.0,admin,Rivera,-30.9025,-55.5506
1210,Namangan,Uzbekistan,https://www.expatistan.com/cost-of-living/nama...,235.00,NaN,845.00,NaN,1.88,84.00,NaN,...,NaN,NaN,NaN,33,-5,408500.0,admin,Namangan,40.9953,71.6725
1211,Nukus,Uzbekistan,https://www.expatistan.com/cost-of-living/nukus,235.00,141.00,188.00,113.00,3.29,7.00,NaN,...,376.00,415.0,1105.0,74,-5,170362.0,admin,Qoraqalpog‘iston,42.4647,59.6022
1212,Qarshi,Uzbekistan,https://www.expatistan.com/cost-of-living/qarshi,NaN,NaN,94.00,NaN,2.31,NaN,NaN,...,NaN,NaN,NaN,22,-5,254600.0,admin,Qashqadaryo,38.8667,65.8000
1213,Samarkand,Uzbekistan,https://www.expatistan.com/cost-of-living/sama...,164.00,191.00,939.00,657.00,2.71,5.63,2.91,...,NaN,NaN,NaN,55,7,504423.0,admin,Samarqand,39.6542,66.9597
1214,Tashkent,Uzbekistan,https://www.expatistan.com/cost-of-living/tash...,505.00,286.00,768.00,408.00,4.11,14.00,2.38,...,444.00,652.0,1328.0,577,62,2424100.0,primary,Toshkent,41.3000,69.2667
1215,Urgench,Uzbekistan,https://www.expatistan.com/cost-of-living/urgench,141.00,NaN,141.00,94.00,3.22,14.00,NaN,...,NaN,630.0,1465.0,14,-5,135100.0,admin,Xorazm,41.5345,60.6249
1216,Zarafshon,Uzbekistan,https://www.expatistan.com/cost-of-living/zara...,NaN,NaN,NaN,NaN,NaN,9.00,2.65,...,NaN,NaN,NaN,22,-5,54300.0,NaN,Navoiy,41.5667,64.2000
1217,Anaco,Venezuela,https://www.expatistan.com/cost-of-living/anaco,0.00,NaN,NaN,NaN,0.05,0.00,NaN,...,NaN,NaN,NaN,14,-5,162704.0,minor,Anzoátegui,9.4333,-64.4667
1218,Barquisimeto,Venezuela,https://www.expatistan.com/cost-of-living/barq...,179.00,119.00,NaN,78.00,0.61,3.81,NaN,...,NaN,187.0,262.0,158,13,1059092.0,admin,Lara,10.0678,-69.3467
1219,Calabozo,Venezuela,https://www.expatistan.com/cost-of-living/cala...,6.00,3.22,5.43,3.42,NaN,0.45,0.36,...,NaN,NaN,NaN,34,-5,131989.0,minor,Guárico,8.9219,-67.4283
1220,Caracas,Venezuela,https://www.expatistan.com/cost-of-living/caracas,121.00,116.00,47.00,103.00,0.32,1.18,0.27,...,4.49,140.0,194.0,1473,117,1943901.0,primary,Distrito Capital,10.5000,-66.9333
1221,Carúpano,Venezuela,https://www.expatistan.com/cost-of-living/caru...,32.00,16.00,24.00,13.00,NaN,NaN,NaN,...,NaN,NaN,NaN,37,-5,173877.0,minor,Sucre,10.6722,-63.2403
1222,Ciudad Bolívar,Venezuela,https://www.expatistan.com/cost-of-living/ciud...,NaN,NaN,0.00,NaN,2.25,0.00,NaN,...,NaN,NaN,NaN,35,9,567953.0,admin,Bolívar,8.1167,-63.5500
1223,Ciudad Guayana,Venezuela,https://www.expatistan.com/cost-of-living/ciud...,96.00,105.00,1.77,108.00,0.07,0.18,0.26,...,0.18,110.0,136.0,53,7,751331.0,minor,Bolívar,8.3596,-62.6517
1224,Coro,Venezuela,https://www.expatistan.com/cost-of-living/coro,80.00,81.00,77.00,38.00,1.54,0.32,NaN,...,NaN,NaN,NaN,84,-5,284266.0,admin,Falcón,11.3950,-69.6816
1225,Maracaibo,Venezuela,https://www.expatistan.com/cost-of-living/mara...,223.00,41.00,80.00,9.00,0.06,0.61,NaN,...,NaN,149.0,189.0,160,14,1551539.0,admin,Zulia,10.6333,-71.6333
1226,Maturín,Venezuela,https://www.expatistan.com/cost-of-living/maturin,53.00,20.00,0.23,NaN,0.19,0.80,NaN,...,1.13,50.0,96.0,36,-5,542259.0,admin,Monagas,9.7457,-63.1832
1227,Turmero,Venezuela,https://www.expatistan.com/cost-of-living/turmero,0.68,0.23,0.48,0.32,NaN,NaN,NaN,...,0.06,NaN,NaN,24,-5,254880.0,minor,Aragua,10.2283,-67.4753
1228,Valencia,Venezuela,https://www.expatistan.com/cost-of-living/vale...,17.00,9.00,7.00,2.13,0.07,0.07,NaN,...,NaN,24.0,60.0,33,6,1484430.0,admin,Carabobo,10.1667,-68.0000
1229,Da Nang,Vietnam,https://www.expatistan.com/cost-of-living/da-nang,669.00,467.00,458.00,353.00,4.06,13.00,5.40,...,NaN,941.0,2052.0,22,-5,NaN,admin,Đà Nẵng,16.0748,108.2240
1230,Hanoi,Vietnam,https://www.expatistan.com/cost-of-living/hanoi,766.00,465.00,511.00,284.00,2.79,19.00,4.03,...,534.00,983.0,2082.0,119,9,7785000.0,primary,Hà Nội,21.0245,105.8412
1231,Ho Chi Minh City,Vietnam,https://www.expatistan.com/cost-of-living/ho-c...,1129.00,793.00,564.00,382.00,2.53,21.00,5.79,...,490.00,1343.0,2483.0,114,22,13312000.0,admin,Hồ Chí Minh,10.8167,106.6333
1232,Thanh Hóa,Vietnam,https://www.expatistan.com/cost-of-living/than...,659.00,571.00,NaN,NaN,2.20,NaN,NaN,...,NaN,NaN,NaN,21,-5,393294.0,admin,Thanh Hóa,19.8075,105.7764
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.00,778.00,491.00,317.00,8.00,11.00,NaN,...,NaN,1639.0,3657.0,26,-5,507355.0,admin,‘Adan,12.8000,45.0333
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.00,576.00,1178.00,418.00,10.00,17.00,NaN,...,120.00,1153.0,2735.0,75,-5,2957000.0,primary,Amānat al ‘Āşimah,15.3500,44.2000
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.00,598.00,576.00,360.00,8.00,17.00,16.00,...,287.00,1049.0,2061.0,54,14,1742979.0,primary,Lusaka,-15.4167,28.2833
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1580.0,3444.0,102,10,2150000.0,primary,Harare,-17.8292,31.0522
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11,-5,35229.0,NaN,Masvingo,-20.3333,30.0333

In [130]:
# Not sure why this doesn't work...

df_reliable2_slim = df_reliable2[(df_reliable2['population'] != np.nan)]
df_reliable2_slim.shape

(1238, 25)

### Climate classification
Source: [University of Vienna](http://koeppen-geiger.vu-wien.ac.at/present.htm)

In [158]:
climate_ref = pd.read_csv('Koeppen-Geiger-ASCII.txt')
climate_ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92416 entries, 0 to 92415
Data columns (total 1 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0         Lat      Lon      Cls  92416 non-null  object
dtypes: object(1)
memory usage: 722.1+ KB

TypeError: 'builtin_function_or_method' object is not subscriptable

In [167]:
list_Lat = []
list_Lon = []
list_Cls = []

for index, row in climate_ref.iterrows():

    full_str = climate_ref.iloc[index, 0].strip()
    list_three = [entry for entry in full_str.split(' ') if entry != '']
    
    list_Lat.append(list_three[0])
    list_Lon.append(list_three[1])
    list_Cls.append(list_three[2])
    
list_tuples = list(zip(list_Lat, list_Lon, list_Cls))

df_climate = pd.DataFrame(list_tuples,
                       columns = ['Lat', 'Lon', 'Cls'])

df_climate.to_csv('df_climate_reference', index=False)

df_climate

          Lat      Lon Cls
0      -89.75  -179.75  EF
1      -89.75  -179.25  EF
2      -89.75  -178.75  EF
3      -89.75  -178.25  EF
4      -89.75  -177.75  EF
...       ...      ...  ..
92411   83.75   -30.75  ET
92412   83.75   -30.25  ET
92413   83.75   -29.75  ET
92414   83.75   -29.25  ET
92415   83.75   -28.75  ET

[92416 rows x 3 columns]

In [177]:
from math import sqrt

# for index, row in df_reliable2.iterrows():
    
city_lat = float(df_reliable2.iloc[0, :]['lat'])
city_lng = float(df_reliable2.iloc[0, :]['lng'])

# city_lat, city_lng = row['lat'], row['lng']
city_lat, city_lng

(34.5328, 69.1658)

In [180]:
min_dist = 1000 # arbitrary starting point

for index2, row2 in df_climate.iterrows():
    clim_lat, clim_lng = float(row2['Lat']), float(row2['Lon'])

    test_dist = sqrt((city_lat - clim_lat)**2 + (city_lng - clim_lng)**2)
    if test_dist < min_dist:
        min_dist = test_dist
        climate = row2['Cls']

climate
# df_reliable.iloc[index]

'Dsb'

In [ ]:
city_climates = []

for index, row in df_reliable2.iterrows():
    city_lat, city_lng = float(row['lat']), float(row['lng'])
    
    min_dist = 1000 # arbitrary starting point

    for index2, row2 in df_climate.iterrows():
        clim_lat, clim_lng = float(row2['Lat']), float(row2['Lon'])
        
        test_dist = sqrt((city_lat - clim_lat)**2 + (city_lng - clim_lng)**2)
        
        if test_dist < min_dist:
            min_dist = test_dist
            climate = row2['Cls']
    
    city_climates.append(climate)
    print(f'City: {row.City}, Climate: {climate}')

In [186]:
len(city_climates)

1238

In [189]:
list_tuples = list(zip(city_climates))

df_climates = pd.DataFrame(list_tuples, columns = ['Climate'])
df_climates.to_csv()

',Climate\n0,Dsb\n1,Csb\n2,Csa\n3,Csa\n4,BSk\n5,Cfb\n6,BSh\n7,Cfa\n8,Cfa\n9,BSk\n10,Cfa\n11,Cfa\n12,Cwa\n13,Cfa\n14,Cfa\n15,BSh\n16,Cfb\n17,BWk\n18,BSk\n19,Cfa\n20,Cfa\n21,Cfa\n22,Cfc\n23,Cfa\n24,Cfa\n25,Cwa\n26,Csb\n27,BSk\n28,BWk\n29,BSk\n30,Cfb\n31,Cfa\n32,BSk\n33,Cfa\n34,Cfa\n35,BSh\n36,Cfb\n37,Cwa\n38,ET\n39,Dfb\n40,Csb\n41,Cfa\n42,Cfb\n43,Aw\n44,Cfb\n45,Cfa\n46,Cfb\n47,Cwa\n48,Cfb\n49,Cfa\n50,Csa\n51,Cfa\n52,Aw\n53,Dfb\n54,Dfc\n55,Cfb\n56,BSk\n57,Cfa\n58,Cfa\n59,BWh\n60,Am\n61,Am\n62,Aw\n63,Dfb\n64,Dfb\n65,Dfb\n66,Dfb\n67,Dfb\n68,Dfb\n69,Cfb\n70,Cfb\n71,Cfb\n72,Cfb\n73,Cfb\n74,Cfb\n75,Cfb\n76,Am\n77,Aw\n78,Cfa\n79,Cwb\n80,ET\n81,BSk\n82,Aw\n83,Cwb\n84,Cwb\n85,Cwb\n86,Cwb\n87,BSh\n88,Af\n89,Aw\n90,As\n91,Aw\n92,Cfa\n93,Aw\n94,Aw\n95,Cwa\n96,Af\n97,Cfa\n98,Am\n99,Aw\n100,As\n101,Cfa\n102,Aw\n103,Aw\n104,Cfa\n105,Cfa\n106,Cfa\n107,Cwa\n108,Aw\n109,Cfb\n110,Cwa\n111,Aw\n112,Af\n113,Cfa\n114,As\n115,Cfa\n116,Cwa\n117,Aw\n118,Aw\n119,Cfb\n120,Cfa\n121,Aw\n122,Aw\n123,As\n124,As\n125,Am\n126,Cwa\n127,Cfa\n128,Cfa\n129,Am\n130,Am\n131,Af\n132,Cfa\n133,Cfa\n134,Aw\n135,Am\n136,Aw\n137,Aw\n138,Cfa\n139,Cfa\n140,Cfa\n141,Cfa\n142,Aw\n143,Cfa\n144,Cfa\n145,Cfa\n146,Am\n147,Aw\n148,Am\n149,Aw\n150,Am\n151,Aw\n152,Af\n153,Cfa\n154,Cfa\n155,Cfa\n156,Cfa\n157,Cwa\n158,Cfa\n159,Aw\n160,Cfa\n161,Cfa\n162,Cfa\n163,Cfa\n164,Aw\n165,Cfa\n166,Aw\n167,Cfb\n168,Aw\n169,Aw\n170,Aw\n171,Aw\n172,Cfa\n173,Cfa\n174,Dfb\n175,Cfa\n176,Cfb\n177,Cfa\n178,Cfa\n179,Cfb\n180,Cfa\n181,Aw\n182,Am\n183,Am\n184,Am\n185,Dfb\n186,Dfb\n187,Dfc\n188,Dfb\n189,Dfb\n190,Dfb\n191,Dfb\n192,Dfb\n193,Dfb\n194,Dfc\n195,Dfb\n196,Dfb\n197,Dfb\n198,Dfb\n199,Dfb\n200,Cfb\n201,Dfb\n202,Dfb\n203,Dfb\n204,Dfb\n205,Dfb\n206,Dfb\n207,Dfb\n208,Dfb\n209,Dfb\n210,Dfb\n211,Dfb\n212,Cfb\n213,Csb\n214,Dsc\n215,Dfa\n216,Dfb\n217,Dfb\n218,Dfb\n219,Aw\n220,Aw\n221,BWh\n222,BWk\n223,BWh\n224,BWk\n225,BWk\n226,Csb\n227,BWk\n228,BWk\n229,Csb\n230,Cfb\n231,BSk\n232,Cfb\n233,ET\n234,Csb\n235,Csb\n236,Csb\n237,Csb\n238,Csb\n239,Cfb\n240,Cfb\n241,Csb\n242,Csb\n243,Dwa\n244,Cfa\n245,Cwa\n246,Cfa\n247,Cwa\n248,Cwa\n249,Cwa\n250,Dwa\n251,Cfa\n252,Cwa\n253,Cwb\n254,Cwa\n255,Cwa\n256,Cfa\n257,Cfa\n258,Cfa\n259,Cwa\n260,Cfa\n261,Dwa\n262,Cwa\n263,BWk\n264,Cwa\n265,Cwa\n266,Dwa\n267,Cfa\n268,Dwa\n269,Cfa\n270,Cfa\n271,Cwa\n272,Cwa\n273,Cwa\n274,Af\n275,Am\n276,Aw\n277,Cfb\n278,Am\n279,Af\n280,Aw\n281,Cfb\n282,Af\n283,Af\n284,Cfb\n285,Af\n286,Aw\n287,As\n288,Csb\n289,Af\n290,Aw\n291,Af\n292,Aw\n293,Cfb\n294,Af\n295,Cfb\n296,Aw\n297,Cfb\n298,Af\n299,Af\n300,Am\n301,Cfb\n302,Cfb\n303,Cfb\n304,Aw\n305,Aw\n306,Aw\n307,Aw\n308,Aw\n309,Aw\n310,Aw\n311,Aw\n312,Aw\n313,Aw\n314,Csa\n315,Csa\n316,BSh\n317,BSh\n318,BSh\n319,BSh\n320,BSh\n321,BSh\n322,BSh\n323,BSh\n324,Cfb\n325,Cfb\n326,Cfb\n327,Cfb\n328,Aw\n329,Am\n330,Aw\n331,Af\n332,Aw\n333,Aw\n334,Cfb\n335,Aw\n336,Csb\n337,Cfb\n338,Cfb\n339,Aw\n340,Aw\n341,Cfb\n342,Cfb\n343,Aw\n344,BWh\n345,BWh\n346,BWh\n347,Aw\n348,Af\n349,Dfb\n350,Dfb\n351,Dfb\n352,Cwb\n353,Aw\n354,Af\n355,Dfb\n356,Dfc\n357,Dfc\n358,Dfc\n359,Dfb\n360,Dfc\n361,Cfb\n362,Cfb\n363,Cfb\n364,Cfb\n365,Cfb\n366,Cfb\n367,Cfb\n368,Cfb\n369,Cfb\n370,Csa\n371,Cfb\n372,Csa\n373,Cfb\n374,Csb\n375,Csa\n376,Cfb\n377,Cfb\n378,Cfa\n379,Cfb\n380,Cfb\n381,Cfb\n382,Cfb\n383,Cfb\n384,Af\n385,Am\n386,Cfa\n387,Cfb\n388,Cfb\n389,Cfb\n390,Cfb\n391,Cfb\n392,Cfb\n393,Cfb\n394,Cfb\n395,Cfb\n396,Cfb\n397,Cfb\n398,Cfb\n399,Cfb\n400,Cfb\n401,Cfb\n402,Cfb\n403,Cfb\n404,Cfb\n405,Cfb\n406,Cfb\n407,Cfb\n408,Cfb\n409,Cfb\n410,Cfb\n411,Cfb\n412,Cfb\n413,Cfb\n414,Cfb\n415,Aw\n416,Csa\n417,Csa\n418,Csa\n419,Csa\n420,Csa\n421,Csa\n422,Csa\n423,Cfa\n424,Csa\n425,Aw\n426,Af\n427,Af\n428,Cwb\n429,Aw\n430,Aw\n431,Am\n432,Aw\n433,Af\n434,Aw\n435,Am\n436,Cwa\n437,Cwa\n438,Cfb\n439,Cfb\n440,Cfb\n441,Cfb\n442,Cfb\n443,Cfc\n444,BSh\n445,BSh\n446,Csa\n447,Cwa\n448,Aw\n449,Aw\n450,Aw\n451,Csa\n452,Aw\n453,BWh\n454,Cwa\n455,Aw\n456,Cwa\n457,Cwa\n458,Cwa\n459,BSh\n460,Cwa\n461,Aw\n462,As\n463,Csa\n464,BSh\n465,Cwa\n466,Cwa\n467,Aw\n468,BSh\n469,Csa\n470,Am\n471,Aw\n472,BSh\n473,Am\n474,Aw\n475,Csa\n476,Cwa\n477,Aw\n478,Aw\n479,Aw\n480,Aw\n481,As\n482,Aw\n483,Cwa\n484,Aw\n485,Aw\n486,Aw\n487,BSh\n488,Cwa\n489,BSh\n490,Aw\n491,Cwa\n492,BSh\n493,Cfb\n494,As\n495,Aw\n496,Aw\n497,Aw\n498,BSh\n499,Cwa\n500,Aw\n501,Aw\n502,Aw\n503,Af\n504,Am\n505,Aw\n506,Af\n507,Aw\n508,Am\n509,Af\n510,Csa\n511,BSk\n512,BSk\n513,BSk\n514,Csa\n515,Csa\n516,BWh\n517,BWh\n518,BWh\n519,BWh\n520,Cfb\n521,Cfb\n522,Cfb\n523,Cfb\n524,Cfb\n525,Csa\n526,Csa\n527,Csa\n528,Csa\n529,Csa\n530,Cfb\n531,Cfb\n532,Csa\n533,Csa\n534,Cfb\n535,Csb\n536,Cfb\n537,Cfa\n538,Csa\n539,Cfa\n540,Cfb\n541,Csa\n542,Csa\n543,Cfa\n544,Cfa\n545,Csa\n546,Cfa\n547,Csa\n548,Csa\n549,Cfb\n550,Cfb\n551,Cfb\n552,Cfb\n553,Cfa\n554,Cfb\n555,Cfb\n556,Aw\n557,Aw\n558,Cfa\n559,Cfa\n560,Cfa\n561,Cfa\n562,Cfa\n563,Cfa\n564,Cfa\n565,Cfa\n566,Cfa\n567,Cfa\n568,Cfb\n569,BSh\n570,BWh\n571,Csa\n572,BSk\n573,Dfa\n574,Dfb\n575,BSk\n576,Dfb\n577,Dfb\n578,Dsa\n579,Dfb\n580,Cfb\n581,Cfb\n582,BWh\n583,Dfb\n584,Dfb\n585,Csa\n586,Am\n587,BSh\n588,Dfb\n589,Cfb\n590,Dfb\n591,Cfb\n592,Cfb\n593,Cfb\n594,Cfb\n595,Cwb\n596,Aw\n597,Cwa\n598,Af\n599,Af\n600,Af\n601,Af\n602,Af\n603,Af\n604,Csa\n605,Af\n606,BWh\n607,As\n608,BSh\n609,Aw\n610,BSh\n611,Cwa\n612,BSk\n613,BWk\n614,BSh\n615,Cwb\n616,Aw\n617,As\n618,BSk\n619,Cwb\n620,BSk\n621,Cwa\n622,BSk\n623,BWh\n624,Cwa\n625,BWh\n626,Cwb\n627,BWh\n628,Csa\n629,BWh\n630,As\n631,BWh\n632,Cwb\n633,BSh\n634,Cwb\n635,Aw\n636,Cwb\n637,Cfb\n638,BSh\n639,Cwb\n640,Cwb\n641,Aw\n642,Am\n643,Cwb\n644,As\n645,BSk\n646,BSh\n647,BSh\n648,Cwb\n649,BSk\n650,BSh\n651,Aw\n652,Aw\n653,Cfb\n654,As\n655,BSk\n656,Cwb\n657,Cwb\n658,BWh\n659,Aw\n660,Aw\n661,Af\n662,Cfa\n663,Cwa\n664,Dfb\n665,Csb\n666,BSk\n667,Cfa\n668,Csa\n669,Csa\n670,Csa\n671,Csa\n672,BSh\n673,Csa\n674,Csa\n675,Csa\n676,Csa\n677,Aw\n678,Aw\n679,Am\n680,BSh\n681,Cwa\n682,Cfb\n683,Cfb\n684,Cfb\n685,Cfb\n686,Cfb\n687,Cfb\n688,Cfb\n689,Cfb\n690,Cfb\n691,Cfb\n692,Cfb\n693,Cfb\n694,Cfa\n695,Cfb\n696,Cfb\n697,Cfb\n698,Cfb\n699,Aw\n700,Aw\n701,BSh\n702,Aw\n703,Aw\n704,Aw\n705,Af\n706,Cfb\n707,Cfb\n708,Dfb\n709,Cfb\n710,Dfc\n711,Dfc\n712,BWh\n713,BWh\n714,BSh\n715,Cwa\n716,BWh\n717,BSh\n718,BWh\n719,Cwa\n720,BWh\n721,BSh\n722,Cwa\n723,Cwa\n724,Cwa\n725,Am\n726,Af\n727,Cfa\n728,Cfa\n729,Cfa\n730,BWk\n731,BSk\n732,BWh\n733,BWh\n734,Cfb\n735,ET\n736,Cfb\n737,Af\n738,BWh\n739,ET\n740,BWh\n741,BWh\n742,BWh\n743,Am\n744,Am\n745,Af\n746,Am\n747,Am\n748,Am\n749,Af\n750,Af\n751,Cfb\n752,Cfb\n753,Cfb\n754,Cfb\n755,Cfb\n756,Cfb\n757,Cfb\n758,Cfb\n759,Cfb\n760,Cfb\n761,Cfb\n762,Csb\n763,Csb\n764,Csa\n765,Csb\n766,Csa\n767,Csa\n768,Csb\n769,Csa\n770,Csb\n771,Csa\n772,Csb\n773,Am\n774,Am\n775,Am\n776,Am\n777,BWh\n778,Csa\n779,Cfb\n780,Cfa\n781,Cfa\n782,Dfb\n783,Cfa\n784,Dfb\n785,Cfb\n786,Cfa\n787,Dfb\n788,Cfb\n789,Cfb\n790,Dfc\n791,BSk\n792,Dfb\n793,Dfb\n794,Dwc\n795,Dwb\n796,Dfb\n797,Cfb\n798,Dfb\n799,Dfb\n800,Dwb\n801,Dfb\n802,Cfa\n803,Dfc\n804,Dfb\n805,Dfb\n806,Dfb\n807,Dfb\n808,Dfb\n809,Dfc\n810,Dwb\n811,Dfb\n812,Dfb\n813,Dfb\n814,Dfa\n815,Dfb\n816,Dfb\n817,Dfb\n818,Dfa\n819,Dfb\n820,Dfb\n821,Dfb\n822,Dfb\n823,Cfb\n824,Dfc\n825,Dfb\n826,Dfb\n827,Dfb\n828,Dfb\n829,Dfb\n830,Dwb\n831,Dfa\n832,Dfb\n833,Dfd\n834,Dfb\n835,Dfb\n836,Dfc\n837,Aw\n838,Aw\n839,Aw\n840,Af\n841,Af\n842,BWh\n843,BWh\n844,BWh\n845,BWh\n846,BWh\n847,BSh\n848,Cfa\n849,Cfb\n850,Cfb\n851,Cfb\n852,Af\n853,Am\n854,Af\n855,Cfb\n856,Dfb\n857,Dfb\n858,Cfb\n859,Cfb\n860,Csb\n861,Cfa\n862,Cwb\n863,BSh\n864,Cfa\n865,Cwa\n866,Cwa\n867,BSk\n868,BSk\n869,BSk\n870,Aw\n871,Csa\n872,BSk\n873,BSk\n874,Csa\n875,Csa\n876,Csa\n877,Cfb\n878,Csb\n879,Csa\n880,Csa\n881,BSk\n882,BSk\n883,Csa\n884,Csb\n885,BSk\n886,Cfb\n887,Csa\n888,Csa\n889,Csa\n890,Csa\n891,Csa\n892,BWh\n893,Csb\n894,Csb\n895,Cfb\n896,Csa\n897,Csa\n898,Csa\n899,BSk\n900,Csb\n901,Csb\n902,Csa\n903,Cfb\n904,Csb\n905,Csb\n906,Csb\n907,Cfb\n908,Csb\n909,Csb\n910,Csa\n911,Csa\n912,Csa\n913,Csa\n914,Csb\n915,Csb\n916,BSk\n917,Af\n918,Af\n919,BWh\n920,Cfb\n921,Dfb\n922,Cfb\n923,Dfb\n924,Cfb\n925,Dfb\n926,Dfb\n927,Dfb\n928,Cfb\n929,Cfb\n930,Cfb\n931,Cfb\n932,Dfc\n933,ET\n934,Cfb\n935,Cfb\n936,Cfa\n937,Am\n938,Cfa\n939,Dsb\n940,Cwb\n941,Aw\n942,Aw\n943,Aw\n944,Aw\n945,Am\n946,Aw\n947,Aw\n948,Am\n949,Aw\n950,Aw\n951,Aw\n952,Aw\n953,Am\n954,Am\n955,BWh\n956,BWh\n957,BSh\n958,Csa\n959,Csa\n960,Csa\n961,Csa\n962,Csb\n963,Csa\n964,Csa\n965,Csa\n966,Csb\n967,Csa\n968,Csa\n969,Dfb\n970,Csb\n971,Csa\n972,Csa\n973,Csb\n974,Csa\n975,Csb\n976,Cfa\n977,Csb\n978,Csa\n979,Csa\n980,Cfb\n981,Csa\n982,Csa\n983,Cfa\n984,Cfa\n985,Cfa\n986,Csa\n987,Csa\n988,Csa\n989,Csa\n990,Csa\n991,Af\n992,Cfa\n993,Dfb\n994,Dfb\n995,Dfb\n996,Dfb\n997,Dfb\n998,Dfb\n999,Dfb\n1000,Dfb\n1001,Dfa\n1002,Cfa\n1003,Dfb\n1004,Dfb\n1005,Cfb\n1006,Dfb\n1007,Dfb\n1008,Dfb\n1009,Dfa\n1010,BWh\n1011,BWh\n1012,BWh\n1013,BWh\n1014,BWh\n1015,Cfb\n1016,Cfb\n1017,Cfb\n1018,Cfb\n1019,Cfb\n1020,Cfb\n1021,Cfb\n1022,Cfb\n1023,Cfb\n1024,Cfb\n1025,Cfb\n1026,Cfb\n1027,Cfb\n1028,Cfb\n1029,Cfb\n1030,Cfb\n1031,Cfb\n1032,Cfb\n1033,Cfb\n1034,Cfb\n1035,Cfb\n1036,Cfb\n1037,Cfb\n1038,Cfb\n1039,Cfb\n1040,Cfb\n1041,Cfb\n1042,Cfb\n1043,Cfb\n1044,Cfb\n1045,Cfb\n1046,Dfa\n1047,Dfb\n1048,BSk\n1049,Dfa\n1050,BSk\n1051,Dfc\n1052,Dfa\n1053,Cfa\n1054,Cfb\n1055,Cfa\n1056,Cfa\n1057,Cfa\n1058,Cfa\n1059,Cfa\n1060,BSh\n1061,Cfa\n1062,Csb\n1063,Csb\n1064,BSk\n1065,Cfa\n1066,Csb\n1067,Dfa\n1068,BSk\n1069,Cfa\n1070,Dfb\n1071,Dfb\n1072,Dfb\n1073,Dfa\n1074,Cfa\n1075,Cfa\n1076,Cfa\n1077,Cfa\n1078,Dfa\n1079,Cfa\n1080,Dfa\n1081,Cfa\n1082,BSk\n1083,Cfa\n1084,Cfa\n1085,Cfa\n1086,Cfa\n1087,BSk\n1088,Dfa\n1089,Dfa\n1090,Cfa\n1091,BWk\n1092,Csb\n1093,BSk\n1094,Am\n1095,Dfa\n1096,Cfa\n1097,BSk\n1098,Cfa\n1099,Dfb\n1100,Dfb\n1101,Cfa\n1102,Cfa\n1103,Dfa\n1104,As\n1105,Cfa\n1106,Cfa\n1107,Cfa\n1108,Dfa\n1109,Csa\n1110,Dfb\n1111,Cfa\n1112,Cfa\n1113,Cfa\n1114,Cfa\n1115,Cfa\n1116,Csa\n1117,BWk\n1118,Cfa\n1119,Cfa\n1120,Dfa\n1121,Cfa\n1122,BSk\n1123,Csb\n1124,Cfa\n1125,Dfb\n1126,As\n1127,BSh\n1128,Cfa\n1129,Am\n1130,Dfb\n1131,Dfa\n1132,BSk\n1133,Cfa\n1134,Csa\n1135,Cfa\n1136,Cfa\n1137,Csb\n1138,Csb\n1139,Cfa\n1140,Cfa\n1141,Cfa\n1142,Cfa\n1143,Cfa\n1144,Dfb\n1145,Csb\n1146,Cfa\n1147,Dfa\n1148,Cfa\n1149,Cfa\n1150,Csa\n1151,Csb\n1152,Cfa\n1153,Cfa\n1154,BSh\n1155,Cfa\n1156,Csb\n1157,Cfa\n1158,Dfa\n1159,Cfa\n1160,Csb\n1161,Cfa\n1162,Csa\n1163,Cfa\n1164,Dfb\n1165,Dfa\n1166,Csa\n1167,Dfb\n1168,Cfa\n1169,Csa\n1170,BSk\n1171,Csb\n1172,Csb\n1173,Csb\n1174,Csa\n1175,Csb\n1176,Csb\n1177,BSk\n1178,Cfa\n1179,BSh\n1180,Csb\n1181,Cfa\n1182,Csb\n1183,Dfa\n1184,Dfb\n1185,Cfa\n1186,Cfa\n1187,Cfa\n1188,Cfa\n1189,Cfa\n1190,Csb\n1191,Cfa\n1192,Cfa\n1193,BWh\n1194,Dfa\n1195,Dfb\n1196,BSh\n1197,Cfa\n1198,Cfa\n1199,Csb\n1200,Cfa\n1201,Cfa\n1202,Dfa\n1203,Cfa\n1204,Dfb\n1205,Cfb\n1206,Cfa\n1207,Cfa\n1208,Cfb\n1209,Cfa\n1210,BSk\n1211,BWk\n1212,BSk\n1213,Csa\n1214,Csa\n1215,BWk\n1216,BWk\n1217,Aw\n1218,Aw\n1219,Aw\n1220,Aw\n1221,Aw\n1222,Aw\n1223,Aw\n1224,BSh\n1225,Aw\n1226,Aw\n1227,Aw\n1228,Aw\n1229,Am\n1230,Cwa\n1231,Aw\n1232,Aw\n1233,BWh\n1234,BWk\n1235,Cwa\n1236,Cwb\n1237,BSh\n'

In [193]:
df_reliable3 = pd.concat([df_reliable2, df_climates], axis=1)
df_reliable3.head(30)

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,COL (Family of 4),COL (Single of 1),No. Prices,No. Contributors,population,capital,admin_name,lat,lng,Climate
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.00,4.12,...,619.0,1438.0,206,13,3678034.0,primary,Kābul,34.5328,69.1658,Dsb
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.00,NaN,...,628.0,1916.0,31,-5,78703.0,admin,Elbasan,41.1125,20.0822,Csb
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.00,16.00,...,910.0,2288.0,222,21,418495.0,primary,Tiranë,41.3300,19.8200,Csa
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.00,7.00,...,952.0,1966.0,304,18,3415811.0,primary,Alger,36.7764,3.0586,Csa
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.00,NaN,...,708.0,1622.0,81,-5,852000.0,admin,Oran,35.6969,-0.6331,BSk
5,Andorra la Vella,Andorra,https://www.expatistan.com/cost-of-living/ando...,1298.0,888.0,850.0,532.0,15.00,46.00,NaN,...,1736.0,3649.0,38,23,22151.0,primary,Andorra la Vella,42.5000,1.5000,Cfb
6,Luanda,Angola,https://www.expatistan.com/cost-of-living/luanda,1170.0,1265.0,772.0,507.0,10.00,20.00,6.00,...,1586.0,2611.0,207,25,8417000.0,primary,Luanda,-8.8383,13.2344,BSh
7,Bahía Blanca,Argentina,https://www.expatistan.com/cost-of-living/bahi...,348.0,234.0,189.0,127.0,10.00,12.00,10.00,...,568.0,1437.0,400,24,299101.0,minor,Buenos Aires,-38.7167,-62.2667,Cfa
8,Buenos Aires,Argentina,https://www.expatistan.com/cost-of-living/buen...,562.0,411.0,384.0,257.0,8.00,18.00,4.49,...,853.0,1971.0,5476,695,16157000.0,primary,"Buenos Aires, Ciudad Autónoma de",-34.5997,-58.3819,Cfa
9,Comodoro Rivadavia,Argentina,https://www.expatistan.com/cost-of-living/como...,312.0,183.0,223.0,151.0,7.00,15.00,NaN,...,478.0,1182.0,144,11,730266.0,minor,Chubut,-45.8667,-67.5000,BSk
10,Concordia,Argentina,https://www.expatistan.com/cost-of-living/conc...,280.0,254.0,305.0,163.0,4.83,5.47,NaN,...,469.0,1058.0,84,6,149450.0,minor,Entre Ríos,-31.3922,-58.0169,Cfa
11,Corrientes,Argentina,https://www.expatistan.com/cost-of-living/corr...,500.0,319.0,342.0,229.0,10.00,17.00,10.00,...,818.0,2077.0,578,19,352646.0,admin,Corrientes,-27.4833,-58.8167,Cfa
12,Córdoba,Argentina,https://www.expatistan.com/cost-of-living/cordoba,339.0,228.0,284.0,171.0,7.00,15.00,5.90,...,613.0,1629.0,1112,110,1329604.0,admin,Córdoba,-31.4167,-64.1833,Cwa
13,Formosa,Argentina,https://www.expatistan.com/cost-of-living/formosa,192.0,110.0,133.0,92.0,7.00,11.00,7.00,...,396.0,1175.0,80,-5,222226.0,admin,Formosa,-26.1847,-58.1758,Cfa
14,La Plata,Argentina,https://www.expatistan.com/cost-of-living/la-p...,318.0,248.0,252.0,156.0,8.00,23.00,4.87,...,627.0,1692.0,372,35,193144.0,admin,Buenos Aires,-34.9333,-57.9500,Cfa
15,La Rioja,Argentina,https://www.expatistan.com/cost-of-living/la-r...,227.0,150.0,206.0,176.0,8.00,9.00,6.00,...,494.0,1445.0,135,5,180995.0,admin,La Rioja,-29.4131,-66.8558,BSh
16,Mar del Plata,Argentina,https://www.expatistan.com/cost-of-living/mar-...,384.0,273.0,249.0,173.0,9.00,13.00,4.44,...,639.0,1587.0,619,33,593337.0,minor,Buenos Aires,-38.0000,-57.5500,Cfb
17,Mendoza,Argentina,https://www.expatistan.com/cost-of-living/mendoza,377.0,242.0,245.0,181.0,8.00,12.00,7.00,...,614.0,1562.0,574,52,114822.0,admin,Mendoza,-32.8833,-68.8333,BWk
18,Neuquén,Argentina,https://www.expatistan.com/cost-of-living/neuquen,557.0,367.0,303.0,228.0,8.00,15.00,NaN,...,795.0,1800.0,394,25,231198.0,admin,Neuquén,-38.9573,-68.0455,BSk
19,Posadas,Argentina,https://www.expatistan.com/cost-of-living/posadas,275.0,148.0,185.0,124.0,5.37,11.00,5.53,...,472.0,1287.0,289,14,275988.0,admin,Misiones,-27.3667,-55.8969,Cfa
20,Quilmes,Argentina,https://www.expatistan.com/cost-of-living/quilmes,286.0,184.0,180.0,174.0,7.00,10.00,4.05,...,456.0,1127.0,227,19,230810.0,minor,Buenos Aires,-34.7167,-58.2667,Cfa
21,Resistencia,Argentina,https://www.expatistan.com/cost-of-living/resi...,270.0,167.0,149.0,101.0,5.97,7.00,11.00,...,439.0,1125.0,235,17,291720.0,admin,Chaco,-27.4514,-58.9867,Cfa
22,"Rio Grande, Tierra del Fuego",Argentina,https://www.expatistan.com/cost-of-living/rio-...,244.0,177.0,232.0,161.0,2.53,10.00,NaN,...,427.0,1085.0,177,11,31095.0,minor,"Tierra del Fuego, Antártida e Islas del Atlánt...",-53.7914,-67.6990,Cfc
23,Rosario,Argentina,https://www.expatistan.com/cost-of-living/rosario,302.0,208.0,225.0,154.0,5.31,13.00,4.37,...,573.0,1572.0,761,87,1193605.0,minor,Santa Fe,-32.9575,-60.6394,Cfa
24,Río Cuarto,Argentina,https://www.expatistan.com/cost-of-living/rio-...,231.0,149.0,226.0,138.0,4.43,8.00,7.00,...,463.0,1279.0,131,7,158298.0,minor,Córdoba,-33.1230,-64.3478,Cfa
25,Salta,Argentina,https://www.expatistan.com/cost-of-living/salta,419.0,309.0,222.0,165.0,5.17,18.00,16.00,...,689.0,1714.0,125,9,535303.0,admin,Salta,-24.7883,-65.4106,Cwa
26,San Carlos de Bariloche,Argentina,https://www.expatistan.com/cost-of-living/san-...,413.0,248.0,163.0,137.0,6.00,7.00,3.89,...,536.0,1160.0,129,12,112887.0,minor,Río Negro,-41.1500,-71.3000,Csb
27,San Fernando del Valle de Catamarca,Argentina,https://www.expatistan.com/cost-of-living/san-...,254.0,178.0,305.0,203.0,7.00,8.00,NaN,...,496.0,1330.0,87,-5,159139.0,admin,Catamarca,-28.4686,-65.7792,BSk
28,San Juan,Argentina,https://www.expatistan.com/cost-of-living/san-...,212.0,131.0,142.0,93.0,5.73,8.00,NaN,...,368.0,989.0,164,12,471389.0,admin,San Juan,-31.5375,-68.5364,BWk
29,San Luis,Argentina,https://www.expatistan.com/cost-of-living/san-...,250.0,177.0,209.0,134.0,9.00,8.00,3.46,...,477.0,1308.0,244,19,169947.0,admin,San Luis,-33.2994,-66.3392,BSk

In [222]:
# Get climate classification







x, y = 50.0386, 15.7792

min_dist = 1000 # arbitrary starting point

for index2, row2 in df_climate.iterrows():
    clim_lat, clim_lng = float(row2['Lat']), float(row2['Lon'])

    test_dist = sqrt((x - clim_lat)**2 + (y - clim_lng)**2)

    if test_dist < min_dist:
        min_dist = test_dist
        climate = row2['Cls']

print(f'Climate: {climate}')

Climate: Cfb

### Country-level data

In [190]:
df_GDPnom = pd.read_csv('df_countryGDP_nom')
df_GDPppp = pd.read_csv('df_countryGDP_PPP')
df_HDI = pd.read_csv('df_countryHDI')

In [195]:
df_reliable3

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,COL (Family of 4),COL (Single of 1),No. Prices,No. Contributors,population,capital,admin_name,lat,lng,Climate
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,...,619.0,1438.0,206,13,3678034.0,primary,Kābul,34.5328,69.1658,Dsb
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,...,628.0,1916.0,31,-5,78703.0,admin,Elbasan,41.1125,20.0822,Csb
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,...,910.0,2288.0,222,21,418495.0,primary,Tiranë,41.3300,19.8200,Csa
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,...,952.0,1966.0,304,18,3415811.0,primary,Alger,36.7764,3.0586,Csa
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,...,708.0,1622.0,81,-5,852000.0,admin,Oran,35.6969,-0.6331,BSk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.0,778.0,491.0,317.0,8.00,11.0,NaN,...,1639.0,3657.0,26,-5,507355.0,admin,‘Adan,12.8000,45.0333,BWh
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.0,576.0,1178.0,418.0,10.00,17.0,NaN,...,1153.0,2735.0,75,-5,2957000.0,primary,Amānat al ‘Āşimah,15.3500,44.2000,BWk
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.0,598.0,576.0,360.0,8.00,17.0,16.00,...,1049.0,2061.0,54,14,1742979.0,primary,Lusaka,-15.4167,28.2833,Cwa
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1580.0,3444.0,102,10,2150000.0,primary,Harare,-17.8292,31.0522,Cwb
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11,-5,35229.0,NaN,Masvingo,-20.3333,30.0333,BSh

In [196]:
df_reliable4 = df_reliable3.join(df_GDPnom.set_index('Country'), on='Country')
df_reliable4

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,No. Contributors,population,capital,admin_name,lat,lng,Climate,Subregion,Region,GDPpercap_nominal
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,...,13,3678034.0,primary,Kābul,34.5328,69.1658,Dsb,Southern Asia,Asia,592
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,...,-5,78703.0,admin,Elbasan,41.1125,20.0822,Csb,Southern Europe,Europe,"5,991"
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,...,21,418495.0,primary,Tiranë,41.3300,19.8200,Csa,Southern Europe,Europe,"5,991"
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,...,18,3415811.0,primary,Alger,36.7764,3.0586,Csa,Northern Africa,Africa,"3,364"
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,...,-5,852000.0,admin,Oran,35.6969,-0.6331,BSk,Northern Africa,Africa,"3,364"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.0,778.0,491.0,317.0,8.00,11.0,NaN,...,-5,507355.0,admin,‘Adan,12.8000,45.0333,BWh,Western Asia,Asia,754
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.0,576.0,1178.0,418.0,10.00,17.0,NaN,...,-5,2957000.0,primary,Amānat al ‘Āşimah,15.3500,44.2000,BWk,Western Asia,Asia,754
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.0,598.0,576.0,360.0,8.00,17.0,16.00,...,14,1742979.0,primary,Lusaka,-15.4167,28.2833,Cwa,Eastern Africa,Africa,974
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10,2150000.0,primary,Harare,-17.8292,31.0522,Cwb,Eastern Africa,Africa,"1,684"
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5,35229.0,NaN,Masvingo,-20.3333,30.0333,BSh,Eastern Africa,Africa,"1,684"

In [198]:
df_reliable5 = df_reliable4.join(df_GDPppp.set_index('Country'), rsuffix='_dupl', on='Country')
df_reliable5

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,admin_name,lat,lng,Climate,Subregion,Region,GDPpercap_nominal,Subregion_dupl,Region_dupl,GDPpercap_PPP
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,...,Kābul,34.5328,69.1658,Dsb,Southern Asia,Asia,592,Southern Asia,Asia,"2,474"
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,...,Elbasan,41.1125,20.0822,Csb,Southern Europe,Europe,"5,991",Southern Europe,Europe,"15,225"
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,...,Tiranë,41.3300,19.8200,Csa,Southern Europe,Europe,"5,991",Southern Europe,Europe,"15,225"
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,...,Alger,36.7764,3.0586,Csa,Northern Africa,Africa,"3,364",Northern Africa,Africa,"11,433"
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,...,Oran,35.6969,-0.6331,BSk,Northern Africa,Africa,"3,364",Northern Africa,Africa,"11,433"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.0,778.0,491.0,317.0,8.00,11.0,NaN,...,‘Adan,12.8000,45.0333,BWh,Western Asia,Asia,754,Western Asia,Asia,"1,924"
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.0,576.0,1178.0,418.0,10.00,17.0,NaN,...,Amānat al ‘Āşimah,15.3500,44.2000,BWk,Western Asia,Asia,754,Western Asia,Asia,"1,924"
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.0,598.0,576.0,360.0,8.00,17.0,16.00,...,Lusaka,-15.4167,28.2833,Cwa,Eastern Africa,Africa,974,Eastern Africa,Africa,"3,322"
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Harare,-17.8292,31.0522,Cwb,Eastern Africa,Africa,"1,684",Eastern Africa,Africa,"2,698"
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Masvingo,-20.3333,30.0333,BSh,Eastern Africa,Africa,"1,684",Eastern Africa,Africa,"2,698"

In [199]:
df_reliable6 = df_reliable5.join(df_HDI.set_index('Country'), rsuffix='_dupl', on='Country')
df_reliable6

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,lat,lng,Climate,Subregion,Region,GDPpercap_nominal,Subregion_dupl,Region_dupl,GDPpercap_PPP,HDI
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,...,34.5328,69.1658,Dsb,Southern Asia,Asia,592,Southern Asia,Asia,"2,474",0.511
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,...,41.1125,20.0822,Csb,Southern Europe,Europe,"5,991",Southern Europe,Europe,"15,225",0.795
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,...,41.3300,19.8200,Csa,Southern Europe,Europe,"5,991",Southern Europe,Europe,"15,225",0.795
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,...,36.7764,3.0586,Csa,Northern Africa,Africa,"3,364",Northern Africa,Africa,"11,433",0.748
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,...,35.6969,-0.6331,BSk,Northern Africa,Africa,"3,364",Northern Africa,Africa,"11,433",0.748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.0,778.0,491.0,317.0,8.00,11.0,NaN,...,12.8000,45.0333,BWh,Western Asia,Asia,754,Western Asia,Asia,"1,924",0.470
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.0,576.0,1178.0,418.0,10.00,17.0,NaN,...,15.3500,44.2000,BWk,Western Asia,Asia,754,Western Asia,Asia,"1,924",0.470
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.0,598.0,576.0,360.0,8.00,17.0,16.00,...,-15.4167,28.2833,Cwa,Eastern Africa,Africa,974,Eastern Africa,Africa,"3,322",0.584
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-17.8292,31.0522,Cwb,Eastern Africa,Africa,"1,684",Eastern Africa,Africa,"2,698",0.571
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-20.3333,30.0333,BSh,Eastern Africa,Africa,"1,684",Eastern Africa,Africa,"2,698",0.571

In [200]:
df_ready = df_reliable6.drop(['Subregion_dupl', 'Region_dupl'], axis=1)
df_ready

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,capital,admin_name,lat,lng,Climate,Subregion,Region,GDPpercap_nominal,GDPpercap_PPP,HDI
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,...,primary,Kābul,34.5328,69.1658,Dsb,Southern Asia,Asia,592,"2,474",0.511
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,...,admin,Elbasan,41.1125,20.0822,Csb,Southern Europe,Europe,"5,991","15,225",0.795
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,...,primary,Tiranë,41.3300,19.8200,Csa,Southern Europe,Europe,"5,991","15,225",0.795
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,...,primary,Alger,36.7764,3.0586,Csa,Northern Africa,Africa,"3,364","11,433",0.748
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,...,admin,Oran,35.6969,-0.6331,BSk,Northern Africa,Africa,"3,364","11,433",0.748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.0,778.0,491.0,317.0,8.00,11.0,NaN,...,admin,‘Adan,12.8000,45.0333,BWh,Western Asia,Asia,754,"1,924",0.470
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.0,576.0,1178.0,418.0,10.00,17.0,NaN,...,primary,Amānat al ‘Āşimah,15.3500,44.2000,BWk,Western Asia,Asia,754,"1,924",0.470
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.0,598.0,576.0,360.0,8.00,17.0,16.00,...,primary,Lusaka,-15.4167,28.2833,Cwa,Eastern Africa,Africa,974,"3,322",0.584
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,primary,Harare,-17.8292,31.0522,Cwb,Eastern Africa,Africa,"1,684","2,698",0.571
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Masvingo,-20.3333,30.0333,BSh,Eastern Africa,Africa,"1,684","2,698",0.571

In [225]:
df_ready.to_csv('df_pricesandfeatures_for_EDA')
df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238 entries, 0 to 1237
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               1238 non-null   object
 1   Country            1238 non-null   object
 2   URL                1238 non-null   object
 3   rent_85m2_expens   1034 non-null   float64
 4   rent_85m2_normal   1023 non-null   float64
 5   rent_45m2_expens   1007 non-null   float64
 6   rent_45m2_normal   993 non-null    float64
 7   eatout_lunch       1037 non-null   float64
 8   eatout_dinner      1011 non-null   float64
 9   taxi_5mi           758 non-null    float64
 10  gas_liter          1036 non-null   float64
 11  pubtrans_monthly   985 non-null    float64
 12  internet_monthly   1030 non-null   float64
 13  TV_40in            1019 non-null   float64
 14  cappuccino         1003 non-null   float64
 15  mobile_wifi_128gb  826 non-null    float64
 16  COL (Family of 4)  1169 non-null   float64
 17  COL (Single of 1)  1169 non-null   float64
 18  No. Prices         1238 non-null   int64
 19  No. Contributors   1238 non-null   int64
 20  population         1179 non-null   float64
 21  capital            828 non-null    object
 22  admin_name         1168 non-null   object
 23  lat                1181 non-null   float64
 24  lng                1181 non-null   float64
 25  Climate            1238 non-null   object
 26  Subregion          1217 non-null   object
 27  Region             1217 non-null   object
 28  GDPpercap_nominal  1199 non-null   object
 29  GDPpercap_PPP      1199 non-null   object
 30  HDI                1204 non-null   float64
dtypes: float64(19), int64(2), object(10)
memory usage: 300.0+ KB

In [206]:
df_ready

,City,Country,URL,rent_85m2_expens,rent_85m2_normal,rent_45m2_expens,rent_45m2_normal,eatout_lunch,eatout_dinner,taxi_5mi,...,capital,admin_name,lat,lng,Climate,Subregion,Region,GDPpercap_nominal,GDPpercap_PPP,HDI
0,Kabul,Afghanistan,https://www.expatistan.com/cost-of-living/kabul,429.0,254.0,295.0,213.0,4.41,9.0,4.12,...,primary,Kābul,34.5328,69.1658,Dsb,Southern Asia,Asia,592,"2,474",0.511
1,Elbasan,Albania,https://www.expatistan.com/cost-of-living/elbasan,275.0,198.0,154.0,103.0,3.39,19.0,NaN,...,admin,Elbasan,41.1125,20.0822,Csb,Southern Europe,Europe,"5,991","15,225",0.795
2,Tirana,Albania,https://www.expatistan.com/cost-of-living/tirana,569.0,361.0,379.0,282.0,9.00,28.0,16.00,...,primary,Tiranë,41.3300,19.8200,Csa,Southern Europe,Europe,"5,991","15,225",0.795
3,Algiers,Algeria,https://www.expatistan.com/cost-of-living/algiers,739.0,479.0,532.0,291.0,7.00,24.0,7.00,...,primary,Alger,36.7764,3.0586,Csa,Northern Africa,Africa,"3,364","11,433",0.748
4,Oran,Algeria,https://www.expatistan.com/cost-of-living/oran,501.0,304.0,336.0,186.0,13.00,15.0,NaN,...,admin,Oran,35.6969,-0.6331,BSk,Northern Africa,Africa,"3,364","11,433",0.748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,Aden,Yemen,https://www.expatistan.com/cost-of-living/aden,1116.0,778.0,491.0,317.0,8.00,11.0,NaN,...,admin,‘Adan,12.8000,45.0333,BWh,Western Asia,Asia,754,"1,924",0.470
1234,San‘a’,Yemen,https://www.expatistan.com/cost-of-living/sana,571.0,576.0,1178.0,418.0,10.00,17.0,NaN,...,primary,Amānat al ‘Āşimah,15.3500,44.2000,BWk,Western Asia,Asia,754,"1,924",0.470
1235,Lusaka,Zambia,https://www.expatistan.com/cost-of-living/lusaka,803.0,598.0,576.0,360.0,8.00,17.0,16.00,...,primary,Lusaka,-15.4167,28.2833,Cwa,Eastern Africa,Africa,974,"3,322",0.584
1236,Harare,Zimbabwe,https://www.expatistan.com/cost-of-living/harare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,primary,Harare,-17.8292,31.0522,Cwb,Eastern Africa,Africa,"1,684","2,698",0.571
1237,Zvishavane District,Zimbabwe,https://www.expatistan.com/cost-of-living/zvis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Masvingo,-20.3333,30.0333,BSh,Eastern Africa,Africa,"1,684","2,698",0.571

13